

	<!-- breadcrumb -->
	<div class="breadcrumb-header justify-content-between">
		<div class="my-auto">
			<div class="d-flex">
				<h4 class="content-title mb-0 my-auto">Elements</h4><span
					class="text-muted mt-1 tx-13 ms-2 mb-0">/ Tags</span>
			</div>
		</div>
		<div class="d-flex my-xl-auto right-content mr-2">
            <div class="pr-1 mb-3 mb-xl-0">
                <button type="button" class="btn btn-info btn-icon me-2"><i class="mdi mdi-filter-variant"></i></button>
            </div>
            <div class="pr-1 mb-3 mb-xl-0">
                <button type="button" class="btn btn-danger btn-icon me-2"><i class="mdi mdi-star"></i></button>
            </div>
            <div class="pr-1 mb-3 mb-xl-0">
                <button type="button" class="btn btn-warning  btn-icon me-2"><i class="mdi mdi-refresh"></i></button>
            </div>
            <div class="mb-3 mb-xl-0">
                <div ngbDropdown class="btn-group">
                    <button type="button" class="btn btn-primary">14 Aug 2019</button>
                    <button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
                        <a ngbDropdownItem href="javascript:;">2015</a>
                        <a ngbDropdownItem href="javascript:;">2016</a>
                        <a ngbDropdownItem href="javascript:;">2017</a>
                        <a ngbDropdownItem href="javascript:;">2018</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!-- breadcrumb -->

	<!-- row -->
	<div class="row">
		<div class="col-xl-12 col-lg-12">
			<!-- div -->
			<div class="card">
				<div class="card-body">
					<div class="main-content-label mg-b-5">
						DEFAULT TAG
					</div>
					<p class="mg-b-20">It is Very Easy to Customize and it uses in your website aplication.
					</p>
					<div class="text-wrap">
						<div class="example">
							<div class="tags">
								<span class="tag">First tag</span>
								<span class="tag">Second tag</span>
								<span class="tag">Third tag</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/div-->

			<!--div-->
			<div class="card">
				<div class="card-body">
					<div class="main-content-label mg-b-5">
						Link Tag
					</div>
					<p class="mg-b-20">It is Very Easy to Customize and it uses in your website aplication.
					</p>
					<div class="text-wrap">
						<div class="example">
							<div class="tags">
								<span class="tag tag-rounded">First tag</span>
								<span class="tag tag-rounded">Second tag</span>
								<span class="tag tag-rounded">Third tag</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/div-->

			<!--div-->
			<div class="card">
				<div class="card-body">
					<div class="main-content-label mg-b-5">
						Default Tags Addon
					</div>
					<p class="mg-b-20">It is Very Easy to Customize and it uses in your website aplication.
					</p>
					<div class="text-wrap">
						<div class="example">
							<div class="tags">
								<span class="tag tag-default">
									One
									<a href="javascript:void(0)" class="tag-addon"><i
											class="fe fe-x"></i></a>
								</span>
								<span class="tag tag-default">
									Two
									<a href="javascript:void(0)" class="tag-addon"><i
											class="fe fe-x"></i></a>
								</span>
								<span class="tag tag-default">
									Three
									<a href="javascript:void(0)" class="tag-addon"><i
											class="fe fe-x"></i></a>
								</span>
								<span class="tag tag-default">
									Four
									<a href="javascript:void(0)" class="tag-addon"><i
											class="fe fe-x"></i></a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/div-->
				<div class="card">
					<div class="card-body">
						<div class="main-content-label mg-b-5">
							Colored tags
						</div>
						<p class="mg-b-20">It is Very Easy to Customize and it uses in your website aplication.</p>
						<div class="text-wrap">
							<div class="example">
								<div class="tags">
									<span class="tag tag-primary">primary tag<a href="javascript:void(0)" class="tag-addon bg-primary"><i class="fe fe-x"></i></a> </span>
									<span class="tag tag-secondary">secondary tag<a href="javascript:void(0)" class="tag-addon bg-secondary"><i class="fe fe-x"></i></a> </span>
									<span class="tag tag-success">success tag<a href="javascript:void(0)" class="tag-addon bg-success"><i class="fe fe-x"></i></a> </span>
									<span class="tag tag-warning">warning tag<a href="javascript:void(0)" class="tag-addon bg-warning"><i class="fe fe-x"></i></a> </span>
									<span class="tag tag-teal">teal tag<a href="javascript:void(0)" class="tag-addon bg-teal"><i class="fe fe-x"></i></a> </span>
									<span class="tag tag-danger">danger tag<a href="javascript:void(0)" class="tag-addon bg-danger"><i class="fe fe-x"></i></a> </span>
								</div>
							</div>
						</div>
					</div>
				</div>

			<!--div-->
			<div class="card">
				<div class="card-body">
					<div class="main-content-label mg-b-5">
						Colored tags
					</div>
					<p class="mg-b-20">It is Very Easy to Customize and it uses in your website aplication.
					</p>
					<div class="text-wrap">
						<div class="example">
							<div class="tags">
								<span class="tag tag-blue">Blue tag</span>
								<span class="tag tag-azure">Azure tag</span>
								<span class="tag tag-indigo">Indigo tag</span>
								<span class="tag tag-purple">Purple tag</span>
								<span class="tag tag-pink">Pink tag</span>
								<span class="tag tag-red">Red tag</span>
								<span class="tag tag-orange">Orange tag</span>
								<span class="tag tag-yellow">Yellow tag</span>
								<span class="tag tag-lime">Lime tag</span>
								<span class="tag tag-green">Green tag</span>
								<span class="tag tag-teal">Teal tag</span>
								<span class="tag tag-cyan">Cyan tag</span>
								<span class="tag tag-gray">Gray tag</span>
								<span class="tag tag-gray-dark">Dark gray tag</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/div-->

			<!--div-->
			<div class="">
				<div class="card">
				  <div class="card-header border-bottom">
					<h3 class="card-title">Input Tags</h3>
				  </div>
				  <div class="card-body">
					<div class="text-wrap">
					  <div class="example">
						<div class="form-group">
						  <mat-form-field class="chip-list w-100">
							<mat-label>Favorite Fruits</mat-label>
							<mat-chip-list #chipList aria-label="Fruit selection">
							  <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
								{{fruit}}
								<button matChipRemove>
								  <mat-icon>cancel</mat-icon>
								</button>
							  </mat-chip>
							  <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
								[matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
								(matChipInputTokenEnd)="add($event)">
							</mat-chip-list>
							<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
							  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
								{{fruit}}
							  </mat-option>
							</mat-autocomplete>
						  </mat-form-field>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
		</div>
		<!--/div-->
	</div>
	<!-- /row -->
