<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-21 mg-b-1 mg-b-lg-1">Compartir link de pago</h2>
        </div>
    </div>
    <div class="main-dashboard-header-right">

        <div class="flex-container">
            <div class="flex-item">
                <button [routerLink]="['/balance-withdrawal']" class="btn btn-success btn-block">Historial</button>
            </div>
            <div class="flex-item margin-items-button-head">
                <button [routerLink]="['/balance-withdrawal']" class="btn btn-success btn-block">Borrar</button>
            </div>
            <div class="flex-item margin-items-button-head">
                <button [routerLink]="['/balance-withdrawal']" class="btn btn-success btn-block">Editar</button>
            </div>
            <div class="flex-item margin-items-button-head">
                <button [routerLink]="['/payment-link']" class="btn btn-success btn-block">Hecho</button>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-7 col-lg-7 col-xl-7">
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">COMPARTE TU LINK EN LAS REDES SOCIALES
                </h2>
                <p class="mg-b-0 tx-14">Haz click en el ícono de la red sociales en la que deseas compartir tu link:</p>
            </div>
            <div class="card-body">
                <div class="flex-container">
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/facebook.svg" class="main-logo" alt="logo">

                    </div>
                    <div class="flex-item">
                        2
                    </div>
                    <div class="flex-item">
                        3
                    </div>
                    <div class="flex-item">
                        4
                    </div>
                    <div class="flex-item">
                        5
                    </div>
                    <div class="flex-item">
                        6
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">COPIA EL LINK DE PAGO</h2>
            </div>
            <div class="card-body" style="padding-left: 30px;">

            </div>
        </div>
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">PERSONALIZA EL BOTÓN PARA INCORPORARLO EN TU PÁGINA</h2>
            </div>
            <div class="card-body" style="padding-left: 30px;">

            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 col-lg-5 col-xl-5">
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">RESUMEN DEL LINK DE PAGO</h2>
            </div>
            <div class="card-body">

            </div>
        </div>
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">PREVISUALIZA EL BOTÓN</h2>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>



</div>