<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-21 mg-b-1 mg-b-lg-1">Datáfono 24</h2>
        </div>
    </div>
</div>
<!-- /breadcrumb -->
<div class="row">
    <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
        <div class="card card-height">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mt-2">DATÁFONO 24</h2>
            </div>
            <div class="card-body">
                <p class="mg-b-0 tx-14 mb-3">Con el datáfono 24, puedes cobrar de manera presencial y a distancia.</p>
                <p class="mg-b-0 tx-14 mb-2">1. Si tu cobro es presencial, dile a tu pagador que escanee el código y
                    continue con el pago. También puedes imprimirlo y dejarlo en lugar visible de tu tienda o lugar de
                    trabajo.</p>
                <p class="mg-b-0 tx-14">2. Si tu cobro es a distancia, simplemente copia el enlace y compártelo por
                    redes sociales, sms, y más. Tu comprador solamente dará clic y continuará con su compra con
                    múltiples opciones de pago de una manera fácil y segura.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
        <div class="card card-height">
            <div class="card-header pb-0">
                <div align="center">
                    <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mt-2">ESCANEA EL CÓDIGO QR PARA PAGAR</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div align="center">
                            <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                                [value]="url_data_web" cssClass="bshadow" [width]="180" [height]="180"></ngx-qrcode>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" type="text" value="{{url_data_web}}" #userinput readonly>
                        <div class="mt-2" *ngIf="validate_copy">
                            <label style="color:blue">
                                ¡El url fue copiado!
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button (click)="copyInputMessage(userinput)" class="btn btn-purple btn-block">Copiar
                            link
                            <img src="./assets/img/icons_link_detail/copy.svg" alt="logo" class="icon-buttons">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <ng-lottie width="120px" [options]="options"></ng-lottie>
                    </div>
                    <div class="col-md-6">
                        <div align="center">
                            <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mt-4">Seguridad de talla mundial a tu
                                alcance.</h2>
                            <p class="mg-b-0 tx-14 mb-2 mt-3" style="color:#4D5875">Tu QR de pago estará cifrado de
                                punta a punta bajo los más altos estandares de seguridad internacional.</p>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div align="center">
                            <img src="./assets/img/svgicons/pci_cert.svg" class="img-cards-dashboard mt-5" alt="logo">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>