.card-height{
    height: 320px;
}


.img-cards-no-valid{
    vertical-align: middle;
    border-style: none;
    max-width: 30%;
}
.button {
    background-color: #0C0C0C;
    color: #fff;
    border-radius: 5px;
    width: 220px;
}
.text {
    color: #3A82F7;
}