<h5 class="text-primary text-center pb-2">{{formTitle}}</h5>
<form [formGroup]="businessInformationForm" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="businessName">Nombre del comercio</label>
    <input type="text" id="businessName" formControlName="businessName" class="form-control"
      placeholder="Ingrese nombre del comercio" prefix="$" mask="separator.2">
    <div *ngIf="formSent && businessInformationForm?.get('businessName')?.invalid" class="text-danger">
      El nombre del comercio es requerido
    </div>
  </div>

  <div class="form-group">
    <label for="bussinesType">Tipo de comercio</label>
    <select id="bussinesType" formControlName="bussinesType" class="form-control">
      <option value="">Selecciona una opción</option>
      <option *ngFor="let item of bussinesTypes" [value]="item.id">{{item.description}}</option>
    </select>
    <div *ngIf="formSent && businessInformationForm?.get('bussinesType')?.invalid" class="text-danger">
      Seleccione el tipo de comercio
    </div>
  </div>

  <div class="form-group">
    <label for="typeIdentification">Tipo de documento</label>
    <select id="typeIdentification" formControlName="typeIdentification" class="form-control">
      <option value="">Selecciona una opción</option>
      <option *ngFor="let item of identificationTypes" [value]="item.id">{{item.description}}</option>
    </select>
    <div *ngIf="formSent && businessInformationForm?.get('typeIdentification')?.invalid" class="text-danger">
      Seleccione el tipo de documento
    </div>
  </div>

  <div class="form-group">
    <label for="businessDocument">Número de documento</label>
    <input type="text" id="businessDocument" formControlName="businessDocument" class="form-control"
      placeholder="Ingrese número de documento">
    <div *ngIf="formSent && businessInformationForm?.get('businessDocument')?.invalid" class="text-danger">
      Seleccione el número de documento
    </div>
  </div>

  <div class="form-group">
    <label for="economicActivity">Actividad económica</label>
    <select id="economicActivity" formControlName="economicActivity" class="form-control">
      <option value="">Selecciona una opción</option>
      <option *ngFor="let item of economityActivities" [value]="item.id">{{item.description}}</option>
    </select>
    <div *ngIf="formSent && businessInformationForm?.get('economicActivity')?.invalid" class="text-danger">
      Seleccione la actividad económica
    </div>
  </div>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input type="email" id="email" formControlName="email" class="form-control"
      placeholder="Ingrese el correo electrónico">
    <div *ngIf="formSent && businessInformationForm?.get('email')?.invalid" class="text-danger">
      Ingrese un correo electrónico
    </div>
  </div>
</form>