<form [formGroup]="attachmentsForm" class="needs-validation" novalidate>
  <p class="text-secondary text-center my-2 fw-bold">Documentos de tu negocio</p>
  <div class="form-group">
    <label for="commerceCertificate" class="form-label text-start">Certificado de Cámara de Comercio</label>
    <input type="file" id="commerceCertificate" formControlName="commerceCertificate" class="form-control"
      (change)="onFileSelected($event, 1, userId)">
    <div *ngIf="attachmentsForm?.get('commerceCertificate')?.invalid" class="text-danger">
      Formatos validos (.png, .jpeg, .pdf, .doc)
    </div>
  </div>
  <div class="form-group">
    <label for="rut" class="form-label text-start">RUT</label>
    <input type="file" id="rut" formControlName="rut" class="form-control" (change)="onFileSelected($event, 2, userId)">
    <div *ngIf="attachmentsForm?.get('rut')?.invalid" class="text-danger">
      Formatos validos (.png, .jpeg, .pdf, .doc)
    </div>
  </div>
  <div class="form-group">
    <label for="commercePhoto" class="form-label text-start">Foto del Comercio (Fachada, local u
      oficina)</label>
    <input type="file" id="commercePhoto" formControlName="commercePhoto" class="form-control"
      (change)="onFileSelected($event, 3, userId)">
    <div *ngIf="attachmentsForm?.get('commercePhoto')?.invalid" class="text-danger">
      Formatos validos (.png, .jpeg, .pdf, .doc)
    </div>
  </div>
  <p class="text-secondary text-center my-2 fw-bold">Documentos del representante legal</p>
  <div class="form-group">
    <label for="legalRepresentativePhoto" class="form-label text-start">Foto del representante legal</label>
    <input type="file" id="legalRepresentativePhoto" formControlName="legalRepresentativePhoto" class="form-control"
      (change)="onFileSelected($event, 4, userId)">
    <div *ngIf="attachmentsForm?.get('legalRepresentativePhoto')?.invalid" class="text-danger">
      Formatos validos (.png, .jpeg, .pdf, .doc)
    </div>
  </div>
  <div class="form-group">
    <label for="idPhoto" class="form-label text-start">Foto del documento de identidad</label>
    <input type="file" id="idPhoto" formControlName="idPhoto" class="form-control"
      (change)="onFileSelected($event, 5, userId)">
    <div *ngIf="attachmentsForm?.get('idPhoto')?.invalid" class="text-danger">
      Formatos validos (.png, .jpeg, .pdf, .doc)
    </div>
  </div>
</form>