<!-- <h1 mat-dialog-title>Dialog with elements</h1> -->
<div mat-dialog-content align="center">
    <img src="./assets/img/svgicons/meta.svg" class="img-cards-dashboard mb-3" alt="logo">
    <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mt-3">Completa tu proceso de afiliación.</h2>
    <p class="mg-b-0 tx-14 mb-3">Falta poco, completa tu proceso de afiliación y accede sin límite a tus herramientas.
    </p>
</div>
<div mat-dialog-actions align="center">
    <div class="flex-container flex-container-style fixed-height">
        <div class="flex-item">
            <button class="btn btn-purple btn-block" (click)="redirect_account()">Completar proceso</button>
        </div>
        <div class="flex-item">
            <button class="btn btn-grey btn-block" (click)="close()">Lo haré luego</button>


        </div> 
    </div>

</div>