<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="card text-white mt-5" style="width: 370px;">
    <div class="card-body text-center px-4 py-5">
      <h1 class="text-primary text-center pb-3">¡Registro exitoso!</h1>
      <div class="text-center mb-2">
        <img src="https://imagesd24.s3.us-east-2.amazonaws.com/img_dashboard/dyner_pro_dark.png" class="main-logo mt-2" alt="logo">
        <img src="./assets/img/login/phone-tool.svg" class="mt-2 mb-3" alt="logo">
      </div>
      <p class="mb-0 pb-1">

        Bienvenido(a):
      </p>
      <p class="fw-bold">
        {{userName}}
      </p>
      <p class="fw-bold">Recuerda, podrás cambiar tu contraseña al acceder a tu cuenta</p>
      <p class="pb-2">Ingresa a la plataforma transaccional de Dyner24, inicia sesión haciendo clic a continuación</p>
      <a class="btn btn-success-dyner btn-lg btn-block mb-4" routerLink="/login">Ingresar</a>
      <small class="d-block">
        Consulta tus estados de cuenta y solicita el retiro de tu dinero en Dyner24 trabajaremos para lograr que este
        reflejado en tu cuenta bancaria inscrita en tiempo récord.
      </small>
    </div>
  </div>
</div>
