<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-21 mg-b-1 mg-b-lg-1">Compartir Suscripción</h2>
        </div>
    </div>
    <div class="main-dashboard-header-right">
      <div class="flex-container">
        <div class="flex-item margin-items-button-head">
          <button [routerLink]="['/link-sub-edit', id_suscripcion]" class="btn btn-info btn-block">Editar <img
              src="./assets/img/icons_link_detail/Edit.svg" alt="logo" class="icon-buttons"></button>
      </div>
        <div>
          <button
            [routerLink]="['/link-sub']"
            class="btn btn-success-dyner btn-block"
          >
            <img
              src="./assets/img/svgicons/back.svg"
              class="img-cards-icons-button"
              alt="logo"
            />
            Volver
          </button>
        </div>

    </div>

    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-7 col-lg-7 col-xl-7">
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">COMPARTE TU SUSCRPCION EN LAS REDES SOCIALES</h2>
            </div>
            <div class="card-body">
                <p class="mg-b-0 tx-14 mb-3">Haz click en el ícono de la red sociales en la que deseas compartir tu
                    link:</p>
                <div class="flex-container">
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/facebook.svg" class="icon-social-media" alt="logo">
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/instagram.svg"
                            class="icon-social-media margin-icon-social-media" alt="logo">
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/messenger.svg"
                            class="icon-social-media margin-icon-social-media" alt="logo">
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/twitter.svg"
                            class="icon-social-media margin-icon-social-media" alt="logo">
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/whatsapp.svg"
                            class="icon-social-media margin-icon-social-media" alt="logo">
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/links_icons/mail.svg" class="icon-social-media margin-icon-social-media"
                            alt="logo">
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">COPIA EL LINK DE SUSCRIPCIONES</h2>
            </div>
            <div class="card-body" style="padding-left: 30px;">
                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" type="text" value="{{url_link}}" #userinput readonly>
                        <div class="mt-2" *ngIf="validate_copy">
                            <label style="color:blue">
                                ¡El link de suscripción fue copiado!
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button (click)="copyInputMessage(userinput)" class="btn btn-success-dyner btn-block">Copiar
                            link
                            <img src="./assets/img/icons_link_detail/copy.svg" alt="logo" class="icon-buttons">

                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">INCORPORA EL BOTÓN DE PAGO
                    EN TU PÁGINA</h2>
            </div>
            <div class="card-body" style="padding-left: 30px;">

                <!-- <mat-radio-group [(ngModel)]="firstGroup" (ngModelChange)="onFirstGroupChange()">
                    <div class="flex-container mb-2">
                        <div class="flex-item margin-items-button-head">
                            <mat-radio-button class="example-radio-button" [value]="1">Botón pequeño</mat-radio-button>
                        </div>
                        <div class="flex-item margin-items-button-head">
                            <mat-radio-button class="example-radio-button" [value]="2">Botón mediano</mat-radio-button>
                        </div>
                        <div class="flex-item margin-items-button-head">
                            <mat-radio-button class="example-radio-button" [value]="3">Botón grande
                            </mat-radio-button>
                        </div>
                    </div>
                </mat-radio-group> -->

                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" type="text" value="{{url_link}}" #userinputBut readonly>
                        <div class="mt-2" *ngIf="validate_copy_button">
                            <label style="color:blue">
                                ¡El botón fue copiado!
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button (click)="copyInputMessageButton(userinputBut)" class="btn btn-success-dyner btn-block">Copiar
                            botón <img
                            src="./assets/img/icons_link_detail/copy.svg" alt="logo" class="icon-buttons"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-5 col-lg-5 col-xl-5">
        <div class="card">
            <div class="card-header pb-0">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">RESUMEN DEL LINK DE PAGO</h2>
            </div>
            <div class="card-body">

                <div class="flex-container-info mb-1">
                    <div class="flex-item-info">
                        <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1">Descripción</h2>
                    </div>
                    <div class="flex-item-info">
                        <p class="mg-b-0 tx-14">{{description}}</p>
                    </div>
                </div>
                <hr>
                <div class="flex-container-info mb-1 mt-2">
                    <div class="flex-item-info">
                        <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1">dia de pago</h2>
                    </div>
                    <div class="flex-item-info">
                        <p class="mg-b-0 tx-14">{{payment_day}}</p>
                    </div>
                </div>
                <hr>
                <div class="flex-container-info mb-1 mt-2">
                    <div class="flex-item-info">
                        <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1">Código de producto</h2>
                    </div>
                    <div class="flex-item-info">
                        <p class="mg-b-0 tx-14">{{reference}}</p>
                    </div>
                </div>
                <hr>
                <!-- <div class="flex-container-info">
                    <div class="flex-item-info">
                        <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">Subtotal</h2>
                    </div>
                    <div class="flex-item-info">
                        <p class="mg-b-0 tx-14 mb-3">{{reference}}</p>
                    </div>
                </div>
                <div class="flex-container-info">
                    <div class="flex-item-info">
                        <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">Impuesto</h2>
                    </div>
                    <div class="flex-item-info">
                        <p class="mg-b-0 tx-14 mb-3">{{reference}}</p>
                    </div>
                </div> -->
                <div class="flex-container-info mb-1 mt-2">
                    <div class="flex-item-info">
                        <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1">Total</h2>
                    </div>
                    <div class="flex-item-info">
                      {{ price | currency : "USD" : "symbol" : "1.0-0" }}
                  </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header pb-0" align="center">
                <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">PREVISUALIZA EL LINK</h2>
            </div>
            <div class="card-body" align="center">
                <div class="col-md-4">
                    <a href="{{url_link}}" target="_blank" class="btn btn-success-dyner btn-block" mat-menu-item>Ir</a>
                </div>
            </div>
        </div>
    </div>



</div>
