<div class="text-center">
  <h2>Abre tu cuenta</h2>
  <p>Paso {{currentStep}} de {{totalSteps}}</p>
  <p>La siguiente información no limitará el acceso a tus herramientas, es solo de carácter informativo.</p>
  <h5 class="text-primary pb-2">{{formTitle}}</h5>
</div>
<form [formGroup]="describeBusinessForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <div class="form-group">
    <label>Número apróx. de transacciones mensuales</label>
    <input type="number" formControlName="monthlyTransactions" class="form-control" placeholder="Ej: 200" required>
    <div class="invalid-feedback">
      Por favor ingresa un valor.
    </div>
  </div>

  <div class="form-group">
    <label>Ticket promedio</label>
    <input type="number" formControlName="averageTicket" class="form-control" placeholder="Ej: $60.000" required>
    <div class="invalid-feedback">
      Por favor ingrese el valor del ticket promedio.
    </div>
  </div>

  <div class="form-group">
    <label>Monto transaccionado apróx. mensual en COP</label>
    <input type="number" formControlName="amountTransacted" class="form-control" placeholder="Ej: $12.000.000" required>
    <div class="invalid-feedback">
      Por favor ingresa un valor.
    </div>
  </div>

  <div class="form-group">
    <label>Monto máximo estimado por transacción</label>
    <input type="number" formControlName="maximumTransAmount" class="form-control" required>
    <div class="invalid-feedback">
      Por favor ingresa el monto maximo.
    </div>
  </div>

  <div class="form-group">
    <label>Describe tu negocio y tu actividad económica</label>
    <textarea formControlName="describeBusiness" class="form-control" required></textarea>
    <div class="invalid-feedback">
      Por ingresa la descripción de tu negocio.
    </div>
  </div>
</form>