.margin-items-button-head {
    margin-left: 10px;
}

.title-field {
    font-weight: 400;
    color: black;
    padding-left: 5px !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px
}

.card-body {
    background-color: white;
    border-radius: inherit;
}


p {
    margin-top: 0 !important;
    margin-bottom: 0rem !important;
}
.main-dashboard-header-right {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.icon-container {
    margin-right: 10px;
}

.search-container {
    position: relative;
}

input[type="text"] {
    padding-right: 30px;
    border-radius: 10px;
    padding: 7px;
    width: 350px;
    text-indent: 20px;
}


.icon-lupa {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.text {
    color: #3A82F7;
    padding-right: 5px;
}
.card-shadow {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: white;
}
