.margin-items-button-head {
    margin-left: 10px;
}

.title-field {
    font-weight: 700;
    color: #22252F;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px
}

p {
    margin-top: 0 !important;
    margin-bottom: 0rem !important;
}