<div class="container-fluid" style="background-color: #fff; padding: 25px;">


    <div class="row">
        <div class="col-12 col-md-6 col-sm-7 col-lg-7 col-xl-7">
            <div class="mt-20">
                <p class="main-content-title tx-24 mg-b-1 mg-b-lg-1" style="color: #000;     font-weight: 500;">
                    <!-- Detalle de transacción, {{ referenciatx }} -->
                    Consulta los detalles de esta transacción
                </p>
                <p class="tx-14" style="font-weight: 200;">Conoce los costos asociados a cada operación realizada</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-sm-5 col-lg-5 col-xl-5 h-100">
            <div class="item-container-main-dash">
                <div class="">
                    <div class="card-brands">
                        <div class="mt-20">
                            <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/dash_user_visa.svg"
                                class=" img-brand" alt="cash" />
                        </div>
                        <div class="mt-20" style="margin-left: 10px;">
                            <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/dash_user_mastercar.svg"
                                class=" img-brand" alt="cash" />
                        </div>
                        <div class="" style="margin-left: 10px;">
                            <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/img_dashboard/medios_nuevos.svg"
                                class=" img-brands" alt="cash" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-sm-7 col-lg-7 col-xl-7">
            <div class="card">
                <h2 class="main-content-title tx-16 mg-b-1 mg-b-lg-1 mb-2 mt-2 color-title-card">
                    Datos del comprador
                </h2>
                <div class="item">
                    <span class="label">Nombre</span>
                    <span class="value">{{ nombre_comprador }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Correo electrónico</span>
                    <span class="value">{{ correo }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Celular</span>
                    <span class="value">{{ celular}}</span>
                </div>
            </div>
            <div class="card" style="padding-bottom: 30px;">
                <h2 class="main-content-title tx-16 mg-b-1 mg-b-lg-1 mb-2 mt-2 color-title-card">
                    Detalles de descuento
                </h2>
                <div class="item">
                    <span class="label">Tarifa X PAY </span>
                    <span class="value">{{ comision_ps }} %</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Rete ICA 0-414%</span>
                    <span class="value">{{ val_rete_ica | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Rete Fuente 1.5%</span>
                    <span class="value">{{ val_rete_fuente | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">IVA Comisión</span>
                    <span class="value">{{ val_impuesto_comision | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Costo fijo transacción</span>
                    <span class="value">{{ val_comision_adi_ps | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-sm-5 col-lg-5 col-xl-5 h-100">

            <div class="card">
                <h2 class="main-content-title tx-16 mg-b-1 mg-b-lg-1 mb-2 mt-2 color-title-card">
                    Detalles de la transacción
                </h2>
                <div class="item">
                    <span class="label">Estado</span>
                    <span class="value">{{ descripcion_estado }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Fecha de transacción</span>
                    <span class="value">{{ created_at }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Autorización</span>
                    <span class="value">{{ num_autorizacion }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Procesador</span>
                    <span class="value">{{ metodopago}}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Franquicia</span>
                    <span class="value">{{ franquicia }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Número de tarjeta</span>
                    <span class="value">{{ num_tarjeta }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Cuotas</span>
                    <span class="value">{{ cuotas }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Total bruto</span>
                    <span class="value">{{ total | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Descuento</span>
                    <span class="value">{{ total_descuento | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                    <span class="label">Total neto</span>
                    <span class="value">{{ total_abono | currency : "USD" : "symbol" : "1.0-0" }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12" align="center" style="margin-top: 20px;">
            <div style="max-width: 1200px;">
                <div class="item-foot">
                    <div>
                        <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/img_dashboard/vr_detail_tx.svg"
                            alt="cash" style="width: 300px;" />
                    </div>
                    <div>
                        <p class="tx-10" style="color: #696666; font">
                            <b>
                                Seguridad y Cumplimiento Garantizados
                            </b>
                        </p>
                        <p class="tx-10" style="color: #696666;font-weight: 300;">
                            Cada transacción realizada a través de nuestra plataforma es supervisada, controlada y
                            procesada
                            a través de canales internacionales altamente seguros, que cumplen rigurosamente con las
                            normativas y regulaciones financieras y tributarias vigentes en la región. Contamos con los
                            más
                            altos estándares de seguridad para proteger tanto tus datos como tus operaciones. Nuestra
                            infraestructura está diseñada para garantizar que todas las transacciones se realicen con
                            total
                            transparencia, confidencialidad y conforme a las exigencias de las autoridades regulatorias
                            locales e internacionales. Puedes tener la certeza de que tu experiencia de pago es no solo
                            segura, sino también completamente compatible con las leyes fiscales y financieras
                            aplicables
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
