<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
  <ng-container [ngSwitch]="currentStep">
    <div class="card text-white bg-dark mb-3" style="width: 480px;">
      <div class="card-body">
        <div class="text-center">
          <img src="./assets/img/brand/logo_dyner24.svg" class="main-logo mt-2 mb-3" alt="logo">
        </div>
        <app-business-information-form *ngSwitchCase="1" [identificationTypes]="identificationTypes"
          [economityActivities]="economityActivities" [currentStep]="currentStep" [totalSteps]="totalSteps">
        </app-business-information-form>
        <app-describe-business-form *ngSwitchCase="2" [currentStep]="currentStep"
          [totalSteps]="totalSteps"></app-describe-business-form>
        <app-address-form *ngSwitchCase="3" [currentStep]="currentStep" [totalSteps]="totalSteps"></app-address-form>
        <app-legal-representative-form *ngSwitchCase="4" [currentStep]="currentStep"
          [totalSteps]="totalSteps"></app-legal-representative-form>
        <div class="row">
          <div class="col" *ngIf="currentStep > 1">
            <button class="btn btn-success-dyner btn-block" (click)="previousStep()">Anterior</button>
          </div>
          <div class="col" *ngIf="currentStep < totalSteps">
            <button class="btn btn-success-dyner btn-block" (click)="nextStep()">Siguiente</button>
          </div>
        </div>
        <div class="text-center mt-3">
          Volver al <a routerLink="/login">inicio de sesión</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>