<!-- Footer opened -->
<div class="main-footer ht-45">
    <div class="container-fluid pd-t-0 ht-100p">
        <!-- <span> Copyright © 2022 <a href="javascript:void(0);" class="text-primary">Valex</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0);"> Spruko </a> All rights reserved...</span> -->
        <span> Copyright © 2022 <a href="https://www.xpay.com" class="text-primary">https://www.xpay.com</a></span>
    </div>
</div>
<!-- Footer closed -->
