
    // .nav-item{
    //     padding: 10px;
    // }

    .tabs-style-4{
        .nav-item{
            padding: 0px;
            padding-right: 13px;
    }
    // padding-left: 30px;

    }


    .padding-content{
            padding-left: 30px;
    }
   
