::ng-deep {
    .tooltipPrimary .tooltip-inner,
    .tooltipPrimary1 .tooltip-inner,
    .tooltipPrimary2 .tooltip-inner,
    .tooltipPrimary3 .tooltip-inner {
        background-color: #F7435C !important;
        font-size: 125%;
    }
    .tooltipPrimary .arrow::before {
        border-top-color: #F7435C !important;
    }
    .tooltipPrimary1 .arrow::before {
        border-bottom-color: #F7435C !important;
    }
    .tooltipPrimary2 .arrow::before {
        border-left-color: #F7435C !important;
    }
    .tooltipPrimary3 .arrow::before {
        border-right-color: #F7435C !important;
    }
    @media (max-width:340px) {
        .tooltip.fade.bs-tooltip-left{
            transform:translate(50px,40px) !important;
        }
        .tooltip.fade.bs-tooltip-right{
            transform: translate(100px,40px) !important;
        }
    }

    ngb-tooltip-window div ::before{
        border-top-color:red
    }
}
