<!-- Page -->
<div class="page">
    <div class="container-fluid bg-primary-color-withe">
        <div class="row no-gutter">
            <!-- The image half -->

            <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-color-withe bg-image position-relative ">
                <div class="background-overlay"></div>


                <!-- <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p  "> -->

                <div class=" position-absolute bottom-0 start-0 mb-4 ms-4">
                    <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/img_dashboard/message_restore.png"
                        alt="imagen_footer" style="    max-width: 70%;">
                    <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/img_dashboard/line_red.png"
                        alt="imagen_footer">
                    <div style="width: 600px;">
                        <p style="    color: #ffffff;">
                            Si olvidaste tu contraseña, no te preocupes, ingresa a continuación tu correo electrónico y
                            tu
                            nuevo PIN de acceso .
                        </p>
                    </div>
                </div>

            </div>

            <!-- The content half -->
            <div class="col-md-6 col-lg-6 col-xl-5 bg-second-contend second-section overflow-auto" style="top: 2px;">
                <div class="position_absolute_title_cont_three">
                    <div class="card " style="border: 0.5px solid #4A4A4A;     width: 440px;">
                        <div class="card-body">
                            <div class="card-sigin" align="center">
                                <div class="main-signup-header">
                                    <img src="https://img-app-v1.s3.amazonaws.com/img_dashboard/xpay_claro.svg"
                                        class="sign-favicon ht-50 mb-1" alt="logo" />

                                    <p class="title_access_login tx-20 mb-2 mt-2">
                                        Restablecer PIN de acceso
                                    </p>
                                    <p class="title_access_login tx-16">
                                        Ingresa tu correo electrónico
                                    </p>
                                    <p class="title_access_login_child_2 tx-16 mb-4">
                                        Enviaremos un link de validación
                                    </p>

                                    <form [formGroup]="loginForm" class="w-75">
                                        <div class="form-group mb-4">
                                            <input class="form-control" placeholder="Ej. usuario@mail.com" type="text"
                                                formControlName="email">
                                            <mat-error
                                                *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
                                                <mat-error *ngIf="loginForm.controls['email'].hasError('required')"
                                                    class="required alert-error">
                                                    Deberas ingresar un email
                                                </mat-error>
                                                <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
                                                    Debes incluir un formato de email valido.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                                                    Este campo es obligatorio.</mat-error>
                                            </mat-error>
                                        </div>
                                        <button class="btn btn-oscuros-dyner btn-block sub_title_botton_access_login"
                                            (click)="submitbutton()">
                                            <span>Enviar link de validación</span>
                                            <img *ngIf="isExporting" src="./assets/img/loaded24.gif"
                                                class="loader-img-xls" alt="loader">
                                        </button>

                                    </form>
                                </div>

                                <div class="card w-75 bg-white border-0 border-r-failed-threeds-child"
                                    style="padding: 10px; box-shadow: none;margin-bottom: 0px;">
                                    <div class="card-body " style="padding-top: 0px;padding-bottom: 0px;">
                                        <div class="flex-container-fail" style="display: flex !important;">
                                            <div class="flex-item-fail"
                                                style="flex: 0.2 0 auto;width: 50px;display: flex; justify-content: center; align-items: center; ">
                                                <div style="display: flex;flex-direction: column;">
                                                    <div>
                                                        <img src="https://img-app-v1.s3.amazonaws.com/img_dashboard/xpay_claro.svg"
                                                            alt="brand" class="" width="90px"
                                                            style="max-width: 80px; !important">
                                                    </div>
                                                    <div>
                                                        <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/img_gateway/gatewaypromaster.svg"
                                                            alt="brand" class="" width="40px">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="flex-item-fail"
                                                style="text-align: left;padding-left: 15px;margin-left: 15px;">
                                                <p class="title_access_login_5 colo-subl tx-10">
                                                    Recuerda cambiar frecuentemente tu PIN de acceso, esto
                                                    evitará que terceros puedan acceder a tu cuenta.
                                                </p>
                                                <p class="title_access_login_4 colo-subl tx-10">
                                                    Si deseas mayor información sobre el manejo de tu
                                                    información, accede a
                                                    www.gatewaypro.co/politicadeprivacidad.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-signup-footer"><a href="javascript:;" routerLink="/custompages/sign-in"
                                        style="color:#3A82F7; font-weight: normal">
                                        Regresar</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="login d-flex align-items-center py-2">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="card-sigin" align="center">
                                    <div class="">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <footer>
                    <div align="center">
                        <div class="flex-container-footer">
                            <div class="flex-item-footer">
                                <img src="https://img-app-v1.s3.us-east-1.amazonaws.com/iconos_login/pci_logo_dashboard.svg"
                                    alt="brand" class="" style="max-width: 60px !important">
                            </div>
                            <div class="flex-item-footer" style="margin-left: 10px;text-align: left">
                                <p class="title_access_login colo-subl tx-12">¿No tienes una
                                    cuenta? <a routerLink="/registro" routerLinkActive="router-link-active"
                                        class="title_access_login colo-subl tx-12" style="color:#3A82F7">Registrate</a>
                                </p>
                                <p class="colo-subl sub_title_access_login tx-10">
                                    Descarga la app en las tiendas disponibles y accede a
                                </p>
                                <p class="colo-subl sub_title_access_login tx-10">
                                    numerosas herramientas
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>


            </div>
        </div>
    </div>
    <!-- End Page -->
</div>
