<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-color-withe">
            <div class="row wd-100p mx-auto text-center">
                <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
                    <div class="mb-2">
                        <p class="tx-26 p-font-weight">No te preocupes, a veces es normal</p>
                        <p class="tx-26 p-font-weight mb-4">olvidar algunas cosas.</p>
                        <p class="tx-26">Ingresa tu correo electrónico registrado</p>
                        <p class="tx-26">y recupera tu contraseña.</p>
                    </div>
                    <div class="mt-5">
                        <div class="flex-container" align="center">
                            <div class="flex-item">
                                <img src="./assets/img/login/forgot-pass.png" class="icon-foot-body" alt="logo">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- The content half -->
        <div class="col-md-6 col-lg-6 col-xl-5 bg-black">
            <div class="login d-flex align-items-center py-2">
                <!-- Demo content-->
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                            <div class="wd-100p" align="center">
                                <div class="main-signin-header">

                                    <img src="./assets/img/brand/logo_dyner24.svg" class="sign-favicon ht-40 mb-4"
                                        alt="logo">
                                    <div>
                                        <h2>Recuperar contraseña</h2>
                                    </div>
                                    <h5 class="font-weight-semibold mb-4 colo-subl">Por favor ingresa tu correo
                                        electrónico.
                                    </h5>

                                    <form [formGroup]="loginForm">
                                        <div class="form-group">
                                            <label>Correo electrónico</label>
                                            <input class="form-control" placeholder="Ingresa tu correo electrónico" type="text"
                                                formControlName="email">
                                            <mat-error
                                                *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">
                                                <mat-error *ngIf="loginForm.controls['email'].hasError('required')"
                                                    class="required alert-error">
                                                    Deberas ingresar un email
                                                </mat-error>
                                                <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
                                                    Debes incluir un formato de email valido.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
                                                    Este campo es obligatorio.</mat-error>
                                            </mat-error>
                                        </div>
                                        <button class="btn btn-success-dyner btn-block"
                                            (click)="submitbutton()">Enviar</button>
                                    </form>

                                </div>
                                <div class="main-signup-footer mg-t-20">
                                    <label style="color:#a5a0b1">Volver al</label><a href="javascript:;"
                                        routerLink="/custompages/sign-in" style="color:white"> inicio de sesión</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>