<!-- <div class="app-sidebar__overlay" data-toggle="sidebar"></div> -->
<div class="sticky" [ngClass]="{ 'sticky-pin': scrolled }">
	<aside class="app-sidebar sidebar-scroll">
		<perfect-scrollbar>
			<div class="main-sidebar-header active" routerLink="/dashboard">
				<a class="desktop-logo logo-light active"><img src="https://imagesd24.s3.us-east-2.amazonaws.com/img_dashboard/dyner_pro_dark.png" class="main-logo" alt="logo"></a>
				<a class="desktop-logo logo-dark active"><img src="./assets/img/brand/logo-white.png" class="main-logo" alt="logo"></a>
				<a class="logo-icon mobile-logo icon-light active"><img src="./assets/img/brand/favicon.ico" alt="logo"></a>
				<a class="logo-icon mobile-logo icon-dark active"><img src="./assets/img/brand/favicon.ico" alt="logo"></a>
			</div>
			<div class="main-sidemenu">
				<div class="app-sidebar__user clearfix">
					<div class="dropdown user-pro-body">
						<!-- <div class="">
							<img alt="user-img" class="avatar avatar-xl brround"
								src="./assets/img/faces/6.jpg"><span
								class="avatar-status profile-status bg-green"></span>
						</div> -->
						<div class="user-info">
							<h4 class="font-weight-semibold mt-3 mb-0">{{name_client}}</h4>
							<!-- <span class="mb-0 text-muted">Premium Member</span> -->
						</div>
					</div>
				</div>
				<ul class="side-menu">
					<!-- left-arrow -->
					<div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
						width="24" height="24" viewBox="0 0 24 24">
						<path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" /></svg></div>
					<!-- 1st level Menu  -->
					<li class="slide" *ngFor="let menuItem of menuItems"
						[ngClass]="{ active: menuItem.active ,'is-expanded': menuItem.active}">
						<ng-container *ngIf="menuItem.headTitle">
							<div class="side-item side-item-category">{{menuItem.headTitle}}</div>
						</ng-container>

						<!-- link -->
						<a class="side-menu__item " [routerLink]="[menuItem.path] " [ngClass]="{ active: menuItem.active ,'is-expanded': menuItem.active}" ng-reflect-router-link-active-options
							*ngIf="menuItem.type === 'link' " (click)="toggleNavActive(menuItem)">
							<div class="">
								<i class="material-icons-two-tone side-menu__icon" style="color: #C5C3C3 !important">{{menuItem.icon}}</i>
							</div>
							<span class="side-menu__label">{{menuItem.title}} </span>
							<span class="badge bg-{{menuItem.badgeClass}} text-light" >{{menuItem.badgeValue}}</span>
						</a>

						<!-- sub -->
						<a class="side-menu__item " [routerLink]="null" *ngIf="menuItem.type === 'sub'"
							(click)="toggleNavActive(menuItem)" [ngClass]="{ active: menuItem.active ,'is-expanded': menuItem.active}">
							<div class="">
								<i class="material-icons-two-tone side-menu__icon">{{menuItem.icon}}</i>
							</div>
							<span class="side-menu__label">{{menuItem.title}}</span>
							<i class="angle fe fe-chevron-down"></i>
						</a>


						<!-- 2nd level menu -->
						<ul class="slide-menu" [ngClass]="{active: menuItem.active}" *ngIf="menuItem.children">
							<li class="sub-slide" *ngFor="let childrenItem of menuItem.children"
								[ngClass]="{active: childrenItem.active, 'is-expanded': childrenItem.active}">
								<!-- Sub -->
								<a href="javascript:void(0)" class="slide-item has-sub is-expanded" [ngClass]="{active: childrenItem.active}" *ngIf="childrenItem.type === 'sub'"
									(click)="toggleNavActive(childrenItem)">
									<span class="sub-side-menu__label">{{childrenItem.title}}</span>
									<i class="sub-angle fe fe-chevron-{{childrenItem.active ? 'down' : 'right'}}"
										*ngIf="menuItem.children"></i>
								</a>
								<!-- Link -->
								<a [routerLink]="!childrenItem.type ? null : [childrenItem.path]" class="slide-item"
									*ngIf="childrenItem.type === 'link'" routerLinkActive="active"
									[routerLinkActiveOptions]="{exact: true}">
									<span>{{childrenItem.title}}</span>
								</a>
								<ul class="sub-slide-menu" *ngIf="childrenItem.children"
									[ngClass]="{active: childrenItem.active}">
									<li *ngFor="let childrenSubItem of childrenItem.children"
										[ngClass]="{active: childrenSubItem.active}">
										<!-- link -->
										<a class="slide-item ms-3"
											[routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
											*ngIf="childrenSubItem.type === 'link'" routerLinkActive="active"
											[routerLinkActiveOptions]="{exact : true}">
											<span>{{childrenSubItem.title}}</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<!-- right-arrow  -->
				<div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
					height="24" viewBox="0 0 24 24">
					<path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" /></svg></div>
			</div>
		</perfect-scrollbar>
	</aside>
</div>

