<div class="main-div">
  <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
    <div class="card">
      <div class="card-body" style="padding-left: 30px">
        <div class="icon-check-transfer mt-3 mb-3">
          <img src="./assets/img/svgicons/check_transfer.svg" alt="logo" />
        </div>

        <h2 class="main-content-title tx-20 mg-b-1 mg-b-lg-1 mb-2 mt-2">
          Solicitud de retiro en validación
        </h2>
        <p class="tx-14 title-anex">
          La solicitud de retiro con referencia <b>{{ reference }}</b> está
          pendiente de aprobación, en unos minutos recibirás un correo con la
          confirmación del estado de la transacción.
        </p>
        <div class="button-end">
          <a routerLink="/withdrawal-history" class="btn btn-success btn-purple"
            >Finalizar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
