<h5 class="text-center text-primary pb-2">{{formTitle}}</h5>
<form [formGroup]="attachmentsForm" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="commerceCertificate" class="form-label text-white">Certificado de Cámara de Comercio</label>
    <input type="file" id="commerceCertificate" formControlName="commerceCertificate" class="form-control">
    <div class="invalid-feedback">
      Certificado de camara de comercio requerido
    </div>
  </div>
  <div class="form-group">
    <label for="rut" class="form-label text-white">RUT</label>
    <input type="file" id="rut" formControlName="rut" class="form-control">
    <div class="invalid-feedback">
      RUT requerido
    </div>
  </div>
  <div class="form-group">
    <label for="commercePhoto" class="form-label text-white">Foto del Comercio (Fachada, local u oficina)</label>
    <input type="file" id="commercePhoto" formControlName="commercePhoto" class="form-control">
    <div class="invalid-feedback">
      Foto del Comercio requerido
    </div>
  </div>

  <h5 class="text-primary text-center pb-2">{{formSubTitle}}</h5>

  <div class="form-group">
    <label for="legalRepresentativePhoto" class="form-label text-white">Foto del representante legal</label>
    <input type="file" id="legalRepresentativePhoto" formControlName="legalRepresentativePhoto" class="form-control">
    <div class="invalid-feedback">
      Foto del representante legal requerido
    </div>
  </div>
  <div class="form-group">
    <label for="idPhoto" class="form-label text-white">Foto del documento de identidad</label>
    <input type="file" id="idPhoto" formControlName="idPhoto" class="form-control">
    <div class="invalid-feedback">
      Foto del documento de identidad requerido
    </div>
  </div>
</form>