/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "../node_modules/angular-archwizard/styles/archwizard.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import ".././node_modules/intl-tel-input/build/css/intlTelInput.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";
@import "~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";

@import "~@angular/cdk/overlay-prebuilt.css";

.ks-modal-gallery-backdrop {
  background: #000 !important;
  opacity: 0.85 !important;
}

.ks-modal-gallery-panel {
  z-index: 90000 !important;
}

// notifier
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-info.css";
@import "~angular-notifier/styles/types/type-default.css";
@import "~angular-notifier/styles/types/type-error.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-warning.css";

// ngx data table
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

// angular-archwizard
@import "~angular-archwizard/styles/archwizard.css";

// ngx-toastr
@import "~ngx-toastr/toastr.css";

// Full calendar
@import "~angular-calendar/scss/angular-calendar.scss";
@import "chartist/dist/scss/chartist.scss";

// custom css links
@import "assets/css/style.css";
@import "assets/css/icons.css";
@import "assets/css/animate.css";
@import "./assets//css/icons.css";

@import "./assets/switcher/css/switcher.css";
@import "./assets/switcher/demo.css";

//variables.scss
@import "./assets/scss/variables";

// custom styles
.ng-select.ng-select-opened .ng-select-container {
  z-index: 5 !important;
}

.ng-dropdown-panel {
  z-index: 10 !important;
}

.dropdown-toggle.no-caret::after {
  display: none;
}

.horizontal .app-sidebar .badge {
  display: none;
}

// ng select
.dark-theme {
  .c-remove{
    c-icon{
      filter: invert(1);
    }
  }
  .iti__country-name{
    color: $white;
  }
  .custom,.ng-valid{
    color: $white;
  }


  .accordion-item .accordion-body {
    background-color: $dark-body;
    padding: 0 20px 20px;
  }

  .accordion-button:not(.collapsed) {
    background-color: $dark-body;
    font-weight: 500;
    letter-spacing: -0.1px;
    font-size: 14px;
    box-shadow: none;
    color: $white;
  }

  .alert-outline-success, .alert-outline-info, .alert-outline-warning, .alert-outline-danger {
    .btn-close {
      filter: invert(78%) sepia(98%) saturate(10034%) hue-rotate(214deg) brightness(162%) contrast(112%) !important;
    }
  }
  .dropdown button.btn-light:focus,
  .show > .btn-outline-light.dropdown-toggle:focus {
    color: $dark-color !important;
    box-shadow: none;
  }
  .main-contact-item + .main-contact-item::before {
    border-top-color: transparent;
  }
  .cal-month-view .cal-day-number {
    color: $dark-color;
  }
  .cal-month-view {
    background-color: $dark-body;
  }
  .cal-header {
    border-top-color: $dark-border;
    border-left-color: $dark-border;
    border-right-color: $dark-border;
  }
  .cal-month-view .cal-day-cell:not(:last-child) {
    border-right-color: $dark-border;
  }
  .cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: $dark-border;
  }
  .cal-month-view .cal-days {
    border-color: $dark-border;
  }
  .cal-cell {
    border-right-color: $dark-border;
  }
  .cal-month-view .cal-day-cell.cal-today,
  .cal-month-view .cal-cell-row .cal-cell:hover {
    background-color: $dark-theme;
  }
  .cal-month-view .cal-cell-row:hover {
    background-color: $dark-body;
  }
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: $gray-900;
    color: $white;
  }
  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    color: $default-color;
  }
  .ng-select .ng-clear-wrapper {
    color: $dark-color;
  }

  .apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
  .apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
  .apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
  .apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
  .apexcharts-theme-light .apexcharts-reset-icon:hover svg,
  .apexcharts-theme-light .apexcharts-menu-icon:hover svg {
    fill: $dark-color;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: $dark-color transparent transparent;
  }

  //tags
  .mat-autocomplete-panel {
    background-color: $gray-900;
  }

  .mat-option-text {
    color: #9d9999;
  }

  .mat-option:hover {
    color: $dark-body;
    background-color: #eee;
  }

  .mat-autocomplete-trigger {
    color: $dark-color;
    &::placeholder {
      color: $dark-color;
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $dark-color;
  }

  .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    // background-color: rgb(11 9 23);
}



  //tags-end

  .ng-dropdown-panel {
    background-color: $gray-900;
    border: 1px solid $gray-800;
  }

  .apexcharts-menu {
    background-color: $gray-900;
    color: $white;

    .apexcharts-menu-item:hover {
      color: $black;
    }
  }

  .ng-select .ng-select-container,
  .ng-select input {
    color: $white !important;
    background: $gray-900;
    border: none;
    outline: none;
    border-radius: 0.25rem;
  }

  ngx-dropzone,
  .custom-dropzone {
    background: $gray-800;
    color: $white;
    border: 2px dashed $white;
  }

  // form wizard
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: transparent;
  }

  .mat-step-text-label {
    color: #eee;
  }

  .lazyContainer,
  .pure-checkbox {
    background-color: $gray-900;
    color: $white;
  }

  .c-btn.disabled {
    background: #1f2940 !important;
    cursor: not-allowed !important;
  }

  .ngb-dp-weekdays {
    background-color: $gray-900;
    color: $white;
  }

  .ngb-dp-header {
    background-color: $gray-900;
    color: $white;
  }

  .c-btn,
  .list-filter,
  .select-all,
  .list-area {
    border-color: $dark-border;
  }

  .selected-list .c-angle-down svg,
  .selected-list .c-angle-up svg {
    fill: $dark-color;
  }

  .list-area {
    background-color: $dark-body;
  }

  .arrow-down,
  .arrow-up {
    border-bottom: 15px solid $dark-body;
  }

  .iti.iti--allow-dropdown {
    input {
      background-color: transparent;
      border-bottom-color: $dark-border;
    }
  }

  .dropdown-menu.country-dropdown.show {
    background-color: $dark-body;
    border-color: $dark-border;
  }

  .ck.ck-toolbar {
    background: $dark-body;
    border-color: $dark-border;
  }

  .ck.ck-icon,
  .ck.ck-icon *,
  .ck.ck-button .ck-button__label,
  a.ck.ck-button .ck-button__label {
    color: $dark-color;
  }

  .ck.ck-button:not(.ck-disabled):hover,
  a.ck.ck-button:not(.ck-disabled):hover,
  .ck.ck-button.ck-on:not(.ck-disabled):hover,
  a.ck.ck-button.ck-on:not(.ck-disabled):hover,
  .ck.ck-button.ck-on,
  a.ck.ck-button.ck-on {
    background: $white-1;
  }

  .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-list,
  .ck.ck-dropdown__panel,
  .ck.ck-input {
    background-color: $dark-body;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
  .ck.ck-dropdown__panel {
    border-color: $dark-border;
  }

  .ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
    background-color: $white-1;
  }

  .angular-editor-toolbar .angular-editor-button.active {
    color: $white !important;
  }

  .main-mail-compose-body .form-group .nav-link:hover,
  .main-mail-compose-body .form-group .nav-link:focus {
    color: $dark-color;
  }
  .toast-header svg {
    fill: $dark-color;
  }
}

.transparent-theme {

  .iti__country-list {
    background-color: $transparent-body;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
}

  .c-remove{
    c-icon{
      filter: invert(1);
    }
  }
  .iti__country-name{
    color: $white;
  }
  .custom,.ng-valid{
    color: $white;
  }

  li.slide.active .material-icons-two-tone,
  li.slide:hover .material-icons-two-tone {
    filter: invert(80%) sepia(94%) saturate(10000%) hue-rotate(208deg) brightness(162%) contrast(112%) ;
  }
  li.slide .material-icons-two-tone {
    filter: invert(78%) sepia(98%) saturate(10034%) hue-rotate(214deg) brightness(162%) contrast(112%) !important ;
  }
  .dropdown button.btn-light:focus,
  .show > .btn-outline-light.dropdown-toggle:focus {
    color: $transparent-color !important;
    box-shadow: none;
  }
  .main-contact-item + .main-contact-item::before {
    border-top-color: transparent;
  }
  .cal-month-view .cal-day-number {
    color: $transparent-color;
  }
  .cal-month-view {
    background-color: $transparent-body;
  }
  .cal-header {
    border-top-color: $transparent-border;
    border-left-color: $transparent-border;
    border-right-color: $transparent-border;
  }
  .cal-month-view .cal-day-cell:not(:last-child) {
    border-right-color: $transparent-border;
  }
  .cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: $transparent-border;
  }
  .cal-month-view .cal-days {
    border-color: $transparent-border;
  }
  .cal-cell {
    border-right-color: $transparent-border;
  }
  .cal-month-view .cal-day-cell.cal-today,
  .cal-month-view .cal-cell-row .cal-cell:hover {
    background-color: $transparent-theme;
  }
  .cal-month-view .cal-cell-row:hover {
    background-color: $transparent-body;
  }
  .mat-autocomplete-trigger {
    color: $transparent-color;
    &::placeholder {
      color: $transparent-color;
    }
  }

  .accordion-item .accordion-body {
    background-color: $transparent-body;
    padding: 0 20px 20px;
  }

  .accordion-button:not(.collapsed) {
    background-color: $dark-body;
    font-weight: 500;
    letter-spacing: -0.1px;
    font-size: 14px;
    box-shadow: none;
    color: $white;
  }

  .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    color: $default-color;
  }
  .apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
  .apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
  .apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
  .apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
  .apexcharts-theme-light .apexcharts-reset-icon:hover svg,
  .apexcharts-theme-light .apexcharts-menu-icon:hover svg {
    fill: $transparent-color;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: $transparent-color transparent transparent;
  }

  .ng-select .ng-clear-wrapper {
    color: $transparent-color;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $transparent-color;
  }
  .ng-dropdown-panel {
    border-color: $transparent-border;
    background-color: $transparent-body;
  }

  .prev-price {
    color: $transparent-color !important;
  }

  .horizontalMenucontainer .main-header {
    background: $primary 
  }

  //tags
  .mat-autocomplete-panel {
    background-color: $primary;
  }

  .mat-option-text {
    color: #323131;
  }

  // .mat-option-text:hover{
  //   color: $dark-body;
  //   background-color: #eee;
  // }

  //tags-end

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: var(--transparent-body);
  }

  .mat-step-text-label {
    color: #eee;
  }

  .apexcharts-menu {
    background-color: $primary;
    color: $white;

    .apexcharts-menu-item:hover {
      color: $black;
    }
  }

  .ng-select .ng-select-container,
  .ng-select input {
    color: $white !important;
    background: var(--transparent-body);
    border: none;
    outline: none;
    border-radius: 0.25rem;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--transparent-body);
    color: $white;
  }

  ngx-dropzone,
  .custom-dropzone {
    background: var(--transparent-body);
    color: $black;
    border: 2px dashed $white;
  }

  .c-btn.disabled {
    background: $primary !important;
    cursor: not-allowed !important;
  }

  .selected-list,
  .lazyContainer,
  .pure-checkbox {
    background-color: $primary;
    color: $white;
  }

  .ngb-dp-weekdays {
    background-color: $primary;
    color: $white;
  }

  .ngb-dp-header {
    background-color: $primary;
    color: $white;
  }

  .c-btn,
  .list-filter,
  .select-all,
  .list-area {
    border-color: $transparent-border;
  }

  .selected-list .c-angle-down svg,
  .selected-list .c-angle-up svg {
    fill: $transparent-color;
  }

  .list-area {
    background-color: $transparent-body;
  }

  .arrow-down,
  .arrow-up {
    border-bottom: 15px solid $transparent-body;
  }

  .iti.iti--allow-dropdown {
    input {
      background-color: transparent;
      border-bottom-color: $transparent-border;
    }
  }

  .dropdown-menu.country-dropdown.show {
    background-color: $transparent-body;
    border-color: $transparent-border;
  }

  .ck.ck-toolbar {
    background: $transparent-body;
    border-color: $transparent-border;
  }

  .ck.ck-icon,
  .ck.ck-icon *,
  .ck.ck-button .ck-button__label,
  a.ck.ck-button .ck-button__label {
    color: $transparent-color;
  }

  .ck.ck-button:not(.ck-disabled):hover,
  a.ck.ck-button:not(.ck-disabled):hover,
  .ck.ck-button.ck-on:not(.ck-disabled):hover,
  a.ck.ck-button.ck-on:not(.ck-disabled):hover,
  .ck.ck-button.ck-on,
  a.ck.ck-button.ck-on {
    background: $white-1;
  }

  .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-list,
  .ck.ck-dropdown__panel,
  .ck.ck-input {
    background-color: $transparent-body;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
  .ck.ck-dropdown__panel {
    border-color: $transparent-border;
  }

  .ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
    background-color: $white-1;
  }

  .angular-editor-toolbar .angular-editor-button.active {
    color: $white !important;
  }

  .ql-snow .ql-stroke {
    stroke: $transparent-color !important;
  }

  .angular-editor-wrapper .angular-editor-textarea {
    border-color: $transparent-border !important;
  }

  .ae-font .ae-picker-label {
    background-color: transparent;
    color: $transparent-color;
    border-color: $transparent-border;
  }

  .ae-font .ae-picker-label:before {
    background: linear-gradient(to right, $transparent-body, $transparent-body 100%);
  }

  .ae-font .ae-picker-label svg .ae-stroke {
    stroke: $transparent-color;
  }

  .ae-font .ae-picker-label:hover,
  .angular-editor-toolbar-set .select-heading {
    background-color: transparent;
  }

  ae-select:hover {
    background-color: transparent !important;
  }

  .ae-font .ae-picker-label:hover:before {
    background: linear-gradient(to right, $transparent-body, $transparent-body 100%);
  }

  .ae-font .ae-picker-options {
    background-color: $transparent-body;
  }

  .ae-font.ae-expanded .ae-picker-options {
    border-color: $transparent-border;
  }

  .ae-font .ae-picker-options .ae-picker-item {
    color: $transparent-color;
  }

  .ae-font .ae-picker-label:disabled,
  .ae-font .ae-picker-label:disabled:before {
    background-color: $white-1;
  }

  .ql-snow .ql-picker-options {
    background-color: $transparent-body !important;
  }

  .custom-control-input:disabled ~ .custom-control-label {
    color: $white-4;
  }

  code {
    color: #fe89c2;
  }
}

.rtl {
  .clear-all{
    left:30px !important;
    right: inherit !important;
  }
  .selected-list .c-list .c-token{
      float: right !important;
  }
  .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 39px;
    padding-left: 0px;
    margin-left: 0;
}
  .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: 0;
    left: auto;
}
  .breadcrumb-style2 .breadcrumb-item + .breadcrumb-item::before {
    transform: rotate(180deg);
  }
  .alert-dismissible .btn-close {
    left: 0;
    right: inherit;
  }
  .notifier__notification-button-icon {
    margin-left: 0.5rem !important;
    margin-right: inherit !important;
  }
  .notifier__notification--material .notifier__notification-button {
    margin-left: -10px;
    margin-right: 10px;
  }
  .ngb-dp-navigation-chevron {
    transform: rotate(45deg);
  }
  .apexcharts-canvas {
    .apexcharts-text {
      text-anchor: start;
    }
  }
  .apexcharts-tooltip-marker {
    margin-left: 10px;
    margin-right: inherit;
  }

  .ct-label.ct-horizontal.ct-end {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    text-anchor: end;
  }

  .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
    transform: rotate(-135deg);
  }

  .vtimeline .timeline-wrapper.timeline-inverted .timeline-panel {
    margin-left: 13%;
    margin-right: auto;
  }

  .selected-list .c-angle-down,
  .selected-list .c-angle-up {
    left: 10px;
    right: inherit;
  }

  .ng-select .ng-select-container .ng-value-container {
    padding-right: 10px;
    padding-left: inherit;
  }

  .order-list .list {
    padding-left: initial !important;
  }

  .dropdown-toggle::after {
    margin-right: 0.5rem !important;
    margin-left: inherit !important;
  }
  .toast-header svg {
    margin-left: 5px;
  }
  .toast-header .btn-close {
    margin-left: -0.375rem;
    margin-right: 0.75rem;
  }

  .accordion-button::after {
    margin-right: auto;
    margin-left: inherit;
  }

  .accordion-toggle {
    i {
      display: inline-block;
    }
  }
  .fe-arrow-right:before {
    content: "\e90f";
  }

  .panel-heading1 {
    i {
      display: inline-block;
    }
  }
}

.selected-list .c-angle-down,
.selected-list .c-angle-up {
  top: 43% !important;
}

.iti input,
.iti input[type="text"],
.iti input[type="tel"] {
  height: 39px;
}

aw-wizard.vertical .wizard-steps {
  width: 72%;
}

aw-wizard-navigation-bar.vertical {
  width: 28%;
}

@media (max-width: 767px) {
  aw-wizard-navigation-bar.vertical ul.steps-indicator li a .label {
    display: none;
  }

  aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li .step-indicator,
  aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li .step-indicator {
    width: 45px;
    height: 45px;
  }
}

.ae-font .ae-picker-options .ae-picker-item.selected {
  color: $white !important;
}

.angular-editor-button .color-label {
  color: $default-color !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: inherit !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 13px !important;
}

.demo-gallery > ul > li a > img {
  margin-bottom: 10px;
}

.ckbox span {
  line-height: 1.3;
}

.main-mail-compose-body .form-group .nav-link {
  margin-left: 15px;
}

.ng-dropdown-panel.ng-select-bottom {
  margin-top: 0px !important;
}

.card-pay .tabs-menu li a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  i {
    margin-right: 5px;
  }
}

@media (max-width: 400px) {
  #checkoutsteps .item .purchase {
    display: block !important;
  }
}

#launch_date .countdown {
  padding-left: inherit;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1) !important;
}

.accordion-button:not(.collapsed) {
  color: $default-color;
  background-color: #ecf0fa;
  font-weight: 500;
  letter-spacing: -0.1px;
  font-size: 14px;
  box-shadow: none;
}

.accordion-item .accordion-body {
  background-color: #ecf0fa;
  padding: 0 20px 20px;
}

.accordion-button {
  background-color: #242f48;
  color: rgba(255, 255, 255, 0.8);
  padding: 14px 20px;
  font-weight: 500;
  letter-spacing: -0.1px;
  font-size: 14px;
  box-shadow: none;
  &.collapsed {
    border-bottom: 1px solid $border;
  }
}
.accordion-item {
  border: 0;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.accordion-button::after {
  filter: brightness(0) invert(1);
}

.accordion-button:focus {
  z-index: 1;
}

.accordion-table {
  overflow: auto;
}

.vtimeline .timeline-wrapper.timeline-inverted .timeline-panel {
  margin-right: 13%;
}

.ng-select .ng-select-container {
  box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
}

.dark-header,
.gradient-header,
.color-header {
  .main-header-message .nav-link i,
  .main-header-notification .nav-link i,
  .nav-item.full-screen .nav-link i,
  .main-layout .nav-link i {
    color: #dde3ea;
  }
}
.light-header {
  &.dark-theme,
  &.transparent-theme {
    .header-icon,
    .main-header-message .nav-link i,
    .main-header-notification .nav-link i,
    .nav-item.full-screen .nav-link i,
    .sales-flot .flot-chart .flot-x-axis > div span:last-child,
    .p-text .p-name {
      color: #5b6e88;
    }
  }
}

@media (min-width: 992px) {
  body.rtl.horizontal .sub-slide .sub-angle {
    transform: rotate(180deg);
  }
}

@media (max-width: 991px) {
  .light-header .main-header .form-control::placeholder {
    color: $dark-color !important;
  }
  .gradient-header .main-header .form-control::placeholder {
    color: $dark-color !important;
  }
}

.ngx-slider.slider2 .ngx-slider-pointer,
.ngx-slider.slider3 .ngx-slider-pointer,
.ngx-slider.slider1 .ngx-slider-pointer,
#external-events {
  z-index: 1 !important;
}

.ngx-slider .ngx-slider-pointer:hover:after {
  background-color: $primary !important;
}

.mat-tree-node {
  padding-inline-start: 10px !important;
}

.alert-dismissible .btn-close {
  font-size: 10px;
  padding: 1.2rem 1rem;
  z-index: 1;
}

.show > .btn-outline-light.dropdown-toggle:focus {
  color: $default-color !important;
}

.show > .btn-light.dropdown-toggle:focus {
  box-shadow: none;
}

.transparent-theme.light-menu{
  li.slide .material-icons-two-tone{filter:invert(4%) sepia(429%) saturate(9874%) hue-rotate(195deg) brightness(170%) contrast(25%) !important}
}

.dark-theme .ng-select.ng-select-opened .ng-arrow-wrapper .ng-arrow {
  border-color: transparent transparent var(--dark-border) !important;
}