<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
  <div class="my-auto">
    <div class="d-flex">
      <h4 class="content-title mb-0 my-auto">Ecommerce</h4>
      <span class="text-muted mt-1 tx-13 ms-2 mb-0">/ Wishlist</span>
    </div>
  </div>
  <div class="d-flex my-xl-auto right-content mr-2">
    <div class="pr-1 mb-3 mb-xl-0">
      <button type="button" class="btn btn-info btn-icon me-2">
        <i class="mdi mdi-filter-variant"></i>
      </button>
    </div>
    <div class="pr-1 mb-3 mb-xl-0">
      <button type="button" class="btn btn-danger btn-icon me-2">
        <i class="mdi mdi-star"></i>
      </button>
    </div>
    <div class="pr-1 mb-3 mb-xl-0">
      <button type="button" class="btn btn-warning btn-icon me-2">
        <i class="mdi mdi-refresh"></i>
      </button>
    </div>
    <div class="mb-3 mb-xl-0">
      <div ngbDropdown class="btn-group">
        <button type="button" class="btn btn-primary">14 Aug 2019</button>
        <button
          type="button"
          ngbDropdownToggle
          class="btn btn-primary dropdown-toggle-split"
          id="dropdownMenuDate"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div
          ngbDropdownMenu
          class="dropdown-menu-right"
          aria-labelledby="dropdownMenuDate"
          data-x-placement="bottom-end"
        >
          <a ngbDropdownItem href="javascript:;">2015</a>
          <a ngbDropdownItem href="javascript:;">2016</a>
          <a ngbDropdownItem href="javascript:;">2017</a>
          <a ngbDropdownItem href="javascript:;">2018</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb -->

<!-- ROW-1 OPEN -->
<div class="row">
  <div class="col-lg-12 col-xl-12">
    <div class="row">
      <div
        *ngFor="let item of data"
        class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 alert wishlist-card"
      >
        <div class="card item-card">
          <div class="card-body pb-0">
            <div class="text-center zoom">
              <a routerLink="/pages/shop"
                ><img class="w-100 rounded-5" src="{{ item.image }}" alt="img"
              /></a>
            </div>
            <div class="card-body px-0 pb-3">
              <div class="row">
                <div class="col-9">
                  <div class="cardtitle">
                    <div>
                      <a href="javascript:void(0);"
                        ><i class="fa fa-star text-warning fs-16"></i
                      ></a>
                      <a href="javascript:void(0);"
                        ><i class="fa fa-star text-warning fs-16"></i
                      ></a>
                      <a href="javascript:void(0);"
                        ><i class="fa fa-star text-warning fs-16"></i
                      ></a>
                      <a href="javascript:void(0);"
                        ><i class="fa fa-star-half text-warning fs-16"></i
                      ></a>
                      <a href="javascript:void(0);"
                        ><i class="fa fa-star-o text-warning fs-16"></i
                      ></a>
                      <a href="javascript:void(0);"> ({{ item.rating }})</a>
                    </div>
                    <a class="shop-title fs-18">{{ item.productName }}</a>
                  </div>
                </div>
                <div class="col-3">
                  <div class="cardprice-2">
                    <span class="type--strikethrough number-font d-block">{{
                      item.Price1
                    }}</span>
                    <span class="number-font">{{ item.Price2 }}</span>
                  </div>
                </div>
                <div>
                  <p class="shop-description fs-13 text-muted mt-2 mb-0">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolor ipsum quia saepe esse.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <div class="text-center px-2">
              <a
                routerLink="/pages/cart"
                class="btn btn-md btn-primary mb-2 ms-2 w-45"
                ><i class="fe fe-shopping-cart me-2"></i>Add to Cart</a
              >
              <a
                (click)="Remove(item.id)"
                class="btn btn-md btn-light mb-2 ms-2 w-45"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <span class="me-2 fs-14">Remove</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="16px"
                  viewBox="0 0 24 24"
                  width="16px"
                  fill="#495057"
                >
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination
      [collectionSize]="40"
      [(page)]="page"
      class="float-end mt-4"
      aria-label="Default pagination"
    >
    </ngb-pagination>
  </div>
</div>
<!-- COL-END -->
