<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h1 class="main-content-title mg-b-1 mg-b-lg-1">Historial de transacciones</h1>
            <p class="mg-b-0">Listado de transacciones</p>
        </div>
    </div>
</div>


<div class="row row-sm">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card card-table-two">

            <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">LISTADO DE TRANSACCIONES</h2>
            <p class="mg-b-0 tx-14">Consulta a continuación todas tus transacciones realizadas</p>
            <div class="table-responsive">
                <mat-form-field appearance="standard">
                    <mat-label>Buscar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. sometext" #input>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort class="table-striped">

                        <ng-container matColumnDef="servicio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
                            <td mat-cell *matCellDef="let row"> {{row.servicio}} </td>
                        </ng-container>

                        <ng-container matColumnDef="referenciatx">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
                            <td mat-cell *matCellDef="let row"> {{row.referenciatx}} </td>
                        </ng-container>

                        <ng-container matColumnDef="num_autorizacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autorización </th>
                            <td mat-cell *matCellDef="let row"> {{row.num_autorizacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                            <td mat-cell *matCellDef="let row"> {{row.created_at}} </td>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor COP</th>
                            <td mat-cell *matCellDef="let row">{{row.total|currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="nombre_comprador">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre_comprador}} </td>
                        </ng-container>

                        <ng-container matColumnDef="descripcion_estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let row"> {{row.descripcion_estado}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let row">

                                <a [routerLink]="['/transaction-detail',row.id,row.servicio]"
                                    title="" ngbTooltip="Detalle">
                                    Ver mas
                                </a>
                                <a
                                href="javascript:;"
                                (click)="openMessageTx(scale,row.id)"
                                 > <button
                                type="button"
                                class="btn position-relative p-1"
                                ngbDropdownToggle
                                >
                                <svg *ngIf="row.count_obs !== false"
                                xmlns="http://www.w3.org/2000/svg"
                                class="header-icon-svgs"
                                viewBox="0 0 16 16"
                                fill="none"
                                stroke="currentColor"
                                 >
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                               </svg>
                               <span *ngIf="row.count_obs>0" _ngcontent-sbt-c112="" class="position-absolute top-0 start-80 translate-middle badge rounded-pill bg-danger ng-star-inserted">{{row.count_obs}} </span>

                              </button>
                            </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>

                    <mat-paginator [pageSizeOptions]="[10, 10, 25, 100]" aria-label="Select page of users">
                    </mat-paginator>
                </div>


            </div>
        </div>
    </div>
</div>
<ng-template #scale let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Mensajes de Transacción</h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table mat-table [dataSource]="dataSourcemtx" matSort class="table-striped">
    <ng-container matColumnDef="mensaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensaje </th>
      <td mat-cell *matCellDef="let rowtx"> {{rowtx.mensaje}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
      <td mat-cell *matCellDef="let rowtx"> {{rowtx.created_at}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnstx"></tr>
  <tr mat-row *matRowDef="let rowtx; columns: displayedColumnstx;"></tr>
</table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn ripple btn-primary"
      (click)="modal.close('Save click');"
    >
    Cerrar
    </button>
  </div>
</ng-template>
