//variables.scss
// @import "./assets/scss/variables";
@import "../../../../assets/scss/variables";
@import "../../../../assets/css/tables";


.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu.dropdown-menu-right {
    left: initial !important;
    right: 0;
}

::ng-deep {
    rect {
        stroke: none !important;
    }

    fusioncharts g path {
        fill: #409cff !important;
    }

    fusioncharts g path:hover {
        fill: #094b92 !important;
    }

    .apexcharts-gridlines-horizontal line,
    .apexcharts-gridlines-vertical line {
        stroke: rgba(255, 255, 255, 0.2) !important;
    }

    .dark-theme {
        .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
            background-color: $gray-900;
            color: $white;
        }
    }

    .card-dashboard-map-one .vmap-wrapper svg {
        width: 100%;
        height: inherit;
    }

    .rtl {
        .apexcharts-datalabels-group {
            transform: translateX(26px)
        }
    }
}

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: rgba(226, 232, 245, 0.1) !important;
}

#chart {
    margin-bottom: 4rem;
}

.card-dashboard-map-one {
    padding: 12px !important;
}

.customers .list-group-item {
    padding: 0.75rem 1.25rem;
}



.card-body-style {
    height: 415px;
}

.color-title-card {
    color: #7987A1;
    font-weight: 300;
}

.btn-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.btn-icon i {
    line-height: 0;
    font-size: 0.9rem;
}


.img-cards-dashboard {
    height: 50px;
}

.img-cards-icons-button {
    height: 15px;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 3 1 auto;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}


a {
    color: #15c;
    text-decoration: none;
    background-color: transparent;
}


// .rechazada {
//     color: #FF0000;
// }



.bottom-border {
    border-bottom: 2px solid #e8e8e8;
}

.table-principal {
    margin-top: 50px;
    border-top: none;
}

.flex-container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.flex-item {
    flex-grow: 1;
}

.circle-yellow {
    width: 17px;
    height: 17px;
    background-color: #F4D012;
    border-radius: 50%;
    margin-right: 60px;
    margin-left: 30px;
}

.circle-green {
    width: 17px;
    height: 17px;
    background-color: #3ADF5F;
    border-radius: 50%;
    margin-right: 45px;
    margin-left: 35px;
}

.circle-blue {
    width: 17px;
    height: 17px;
    background-color: #4069F8;
    border-radius: 50%;
    margin-right: 60px;
    margin-left: 30px;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon-lupa-f {
    color: #525256;
    width: 20px;
    height: 20px;
    max-width: 100%;
    max-height: 100%;
}

.icon-cash {
    color: #525256;
    width: 30px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
}

.icon-retire {
    color: #525256;
    width: 30px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
}

.color-blue {
    color: blue;
}

.card-header {
    background-color: #e8e8e8;
    height: 75px;
}

.color-price {
    color: #000;
    text-align: center;
}

.color-title-card {
    color: #000;
    line-height: 6px;
}

.color-title-card-2 {
    color: #727272;
    text-align: center;
}

.card-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
}

.text-footer {
    color: #007AFF
}

.card-body {
    background-color: #f8f9fa;
    color: #fff;
    padding: 15px;
}

.main-content-title {
    font-weight: 300;
}

.inline-block-container {
    display: inline-block;
}

.main-dashboard-header-right {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.icon-container {
    margin-right: 10px;
}

.search-container {
    position: relative;
}

input[type="text"] {
    padding-right: 30px;
    border-radius: 10px;
    padding: 7px;
    width: 350px;
    text-indent: 20px;
}

.icon-lupa {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-navtap {
    width: 40px;
    height: 45px;
    margin-left: auto;
    margin-right: 10px
}



.container-main-dash {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Permite que los elementos se muevan a una nueva fila si es necesario */
    width: 100%;
}

.item-container-main-dash {
    flex: 1;
    min-width: 300px;
    /* Asegura que el elemento no sea demasiado pequeño */
    margin-bottom: 20px;
    /* Espacio entre filas en pantallas pequeñas */
}

.card-container-resume {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* Permite que las tarjetas se muevan a nuevas filas */
}

.card-item-resume {
    width: 250px;
}

.view-detail {
    text-align: end;
}



.value_one {
    border: 1px solid #847A1C;
    background-color: #E1E0C7;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 150px;
}

.value_two {
    border: 1px solid #5B841B;
    background-color: #C6E1C6;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    min-width: 150px;
}

.card-brands {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* Permite que las imágenes se muevan a nuevas filas */
}

.img-brand {
    height: 25px;
    width: auto;
}

.icon-resume {
    color: green;
    font-size: 24px;
}

.status-resume {
    font-weight: bold;
}

.amount-resume {
    font-size: 18px;
    color: #333;
}

.spam_one {
    color: #847A1C;
}

.spam_two {
    color: #5B841B;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .container-main-dash {
        flex-direction: column;
        /* Apila los elementos verticalmente */
        align-items: stretch;
    }

    .item-container-main-dash {
        text-align: center;
        /* Centra los elementos en pantallas pequeñas */
    }

    .card-container-resume {
        justify-content: center;
        /* Centra las tarjetas */
    }

    .card-brands {
        justify-content: center;
        /* Centra las imágenes */
        gap: 20px;
        /* Aumenta el espacio entre imágenes */
    }
}

.img-brand {
    height: 100%;
    width: 100%;
}

.value_one {
    flex: 1;
    /* Se expandirá para ocupar más espacio disponible */
    max-width: 400px;
    /* Ajusta este valor al ancho máximo deseado */
    width: 100%;
    /* Permite que crezca en un entorno flexible */
    display: flex;

}

.value_two {
    flex: 1;
    /* Se expandirá para ocupar más espacio disponible */
    max-width: 400px;
    /* Ajusta este valor al ancho máximo deseado */
    width: 100%;
    /* Permite que crezca en un entorno flexible */
    display: flex;

}

.img-status-one {
    height: 90%;
    width: 10%;
}

.img-status-two {
    height: 90%;
    width: 10%;
}
