<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h1 class="main-content-title mg-b-1 mg-b-lg-1">
                Hola, {{ name_client }}!
            </h1>
            <p class="mg-b-0">Resumen de transacciones.</p>
        </div>
    </div>
    <div class="main-dashboard-header-right">
        <div>
            <button [routerLink]="['/balance-withdrawal']" class="btn btn-success-dyner btn-block">
                Solicitar retiro
                <img src="./assets/img/svgicons/transfers.svg" class="img-cards-icons-button" alt="logo" />
            </button>
        </div>
    </div>
</div>
<!-- /breadcrumb -->

<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header pb-0">
                <p class="mg-b-0 tx-14 color-title-card">CAPITAL</p>
            </div>
            <div class="card-body">
                <div class="flex-container">
                    <div class="flex-item">
                        <h1 class="main-content-title tx-38 mg-b-1 mg-b-lg-1">
                            {{
                            capital_total_sum_service
                            | currency : "USD" : "symbol" : "1.0-0"
                            }}
                            COP
                        </h1>
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/svgicons/checkok.svg" class="img-cards-dashboard" alt="logo" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="mg-b-0 tx-14 color-title-card btn btn-link p-0" (click)="
            gridOpen(gridModal, 'DETALLE SALDO CAPITAL', 'capital_list_tx')
          ">
                    Ver detalle
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header pb-0">
                <p class="mg-b-0 tx-14 color-title-card">DISPONIBLE</p>
            </div>
            <div class="card-body">
                <div class="flex-container">
                    <div class="flex-item">
                        <h1 class="main-content-title tx-38 mg-b-1 mg-b-lg-1">
                            {{dispo_total_sum_service | currency : "USD" : "symbol" : "1.0-0"}}COP
                        </h1>
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/svgicons/wallet.svg" class="img-cards-dashboard" alt="logo" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="mg-b-0 tx-14 color-title-card btn btn-link p-0" (click)="
            gridOpen(gridModal, 'DETALLE SALDO DISPONBILE', 'dispo_list_tx')
          ">
                    Ver detalle
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header pb-0">
                <p class="mg-b-0 tx-14 color-title-card">EN RETIRO</p>
            </div>
            <div class="card-body">
                <div class="flex-container">
                    <div class="flex-item">
                        <h1 class="main-content-title tx-38 mg-b-1 mg-b-lg-1">
                            {{
                            en_transfe_total_sum_service
                            | currency : "USD" : "symbol" : "1.0-0"
                            }}
                            COP
                        </h1>
                    </div>
                    <div class="flex-item">
                        <img src="./assets/img/svgicons/Transferencia.svg" class="img-cards-dashboard" alt="logo" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="mg-b-0 tx-14 color-title-card btn btn-link p-0" (click)="
            gridOpen(gridModal, 'DETALLE SALDO EN RETIRO', 'en_transfe_list_tx')
          ">
                    Ver detalle
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row row-sm">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card card-table-two">
            <h2 class="main-content-title tx-14 mg-b-1 mg-b-lg-1 mb-2 mt-2">
                LISTADO DE TRANSACCIONES
            </h2>
            <p class="mg-b-0 tx-14">
                Consulta a continuación todas tus transacciones realizadas
            </p>
            <div class="table-responsive">
                <!-- <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. sometext" #input>
                </mat-form-field> -->
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort class="table-striped">
                        <!-- ID Column -->
                        <ng-container matColumnDef="servicio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Servicio
                            </th>
                            <td mat-cell *matCellDef="let row">{{ row.servicio }}</td>
                        </ng-container>

                        <ng-container matColumnDef="referenciatx">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Referencia
                            </th>
                            <td mat-cell *matCellDef="let row">{{ row.referenciatx }}</td>
                        </ng-container>

                        <ng-container matColumnDef="num_autorizacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Autorización
                            </th>
                            <td mat-cell *matCellDef="let row">{{ row.num_autorizacion }}</td>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                            <td mat-cell *matCellDef="let row">{{ row.created_at }}</td>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Descripción
                            </th>
                            <td mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Valor COP
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.total | currency : "USD" : "symbol" : "1.0-0" }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombre_comprador">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                            <td mat-cell *matCellDef="let row">{{ row.nombre_comprador }}</td>
                        </ng-container>

                        <ng-container matColumnDef="descripcion_estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                            <td mat-cell *matCellDef="let row">
                                {{ row.descripcion_estado }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Acciones
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <a [routerLink]="['/transaction-detail', row.id]" title="" ngbTooltip="Detalle">
                                    Ver más
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #gridModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title">{{ detailTitle }}</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-details-table [items]="total_detail[detailObject]"></app-details-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">
            Cerrar
        </button>
    </div>
</ng-template>