<!-- Page -->
<div class="page">
  <div class="container-fluid bg-primary-color-withe">
    <div class="row no-gutter">
      <!-- The image half -->

      <div
        class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-color-withe"
      >
        <div class="row wd-100p mx-auto text-center">
          <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
            <div>
              <p class="tx-26">Ingresa tus credenciales de acceso,</p>
              <p class="tx-26 p-font-weight">administra tus operaciones y</p>
              <p class="tx-26 p-font-weight">
                genera cobros a cualquier parte del mundo.
              </p>
            </div>
            <div align="center">
              <ng-lottie width="350px" [options]="options"></ng-lottie>
            </div>
            <div>
              <div class="flex-container" align="center">
                <div class="flex-item">
                  <img
                    src="./assets/img/login/pci-dss-login.svg"
                    width="110px"
                    alt="logo"
                  />
                </div>
                <div class="flex-item">
                  <img
                    src="./assets/img/login/verify-by-visa.svg"
                    width="110px"
                    alt="logo"
                  />
                </div>
                <div class="flex-item">
                  <img
                    src="./assets/img/login/master-sec-code.svg"
                    width="180px"
                    alt="logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The content half -->
      <div class="col-md-6 col-lg-6 col-xl-5 bg-black">
        <div class="login d-flex align-items-center py-2">
          <!-- Demo content-->
          <div class="container p-0">
            <div class="row">
              <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                <div class="card-sigin">
                  <div class="">
                    <div class="card-sigin" align="center">
                      <div class="main-signup-header">
                        <img
                          src="./assets/img/brand/dyner_oscuros.png"
                          class="sign-favicon ht-60 mb-4"
                          alt="logo"
                        />
                        <h2>¡Bienvenido!</h2>
                        <h5 class="font-weight-semibold mb-4 colo-subl">
                          Ingresa tu correo electrónico
                        </h5>
                        <form [formGroup]="loginForm" class="w-50">
                          <div class="form-group">
                            <label>Correo electrónico</label>
                            <input
                              class="form-control"
                              placeholder="Coloca tu correo"
                              type="text"
                              formControlName="email"
                            />
                          </div>
                          <div class="form-group">
                            <label>Contraseña</label>
                            <input
                              class="form-control"
                              placeholder="Ingresa tu contraseña"
                              type="password"
                              formControlName="password"
                            />
                          </div>
                          <button
                            class="btn btn-success-dyner btn-block"
                            [disabled]="!loginForm.valid"
                            (click)="login_front()"
                          >
                            Iniciar sesión
                          </button>
                        </form>

                        <div class="mt-2" *ngIf="validate_user">
                          <li style="color: red">
                            <label style="color: red">
                              Usuario o contraseña incorrectos
                            </label>
                          </li>
                        </div>

                        <div class="main-signin-footer mt-4">
                          <p>
                            <a
                              routerLink="/custompages/forgot-password"
                              class="colo-subl"
                              >¿Olvidaste tu contraseña?</a
                            >
                          </p>
                          <!-- <p>Don't have an account? <a routerLink="/custompages/sign-in"
															routerLinkActive="router-link-active">Create an Account</a>
													</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End -->
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
  <!-- End Page -->
</div>
