<!-- Page -->
<div class="page">
    <div class="container-fluid bg-primary-color-withe">
        <div class="row no-gutter">
            <!-- The image half -->

            <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-color-withe bg-image position-relative ">
                <div class="background-overlay"></div>


                <!-- <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p  "> -->

                <div class="image-container position_absolute_title_cont_one">
                    <div class="">
                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/title_login.png"
                            class="mb-4 img_title_login" alt="logo" />
                    </div>
                </div>

                <div class="content_card_first position-absolute bottom-0 start-50 translate-middle-x ">
                    <div class="position-relative bottom-0 mb-4 ms-4">

                        <div class="card card-icons-banks">
                            <div class="card-body">
                                <div class="flex-container">
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/visa.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/mastercard.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/dinners.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/american_expres.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/pse.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/codensa.png"
                                            class="img_icon_card" />
                                    </div>
                                </div>
                                <div class="flex-container mt-3">
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/sured.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/paga_todo.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/nequi.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/rappipay.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/dale.png"
                                            class="img_icon_card" />
                                    </div>
                                    <div class="flex-item">
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/daviplata.png"
                                            class="img_icon_card" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- The content half -->
            <div class="col-md-6 col-lg-6 col-xl-5 bg-second-contend second-section overflow-auto" style="top: 2px;">
                <div class="position_absolute_title_cont_three">
                    <div class="card " style="border: 0.5px solid #4A4A4A;     width: 440px;">
                        <div class="card-body">
                            <div class="card-sigin" align="center">
                                <div class="main-signup-header">
                                    <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/img_dashboard/dyner_pro_normal_circle.svg"
                                        class="sign-favicon ht-50 mb-1" alt="logo" />
                                    <p class="title_access_login tx-16" style="padding-top: 10px;">
                                        Bienvenido
                                    </p>
                                    <p class="sub_title_access_login mb-5 colo-subl tx-16">
                                        Ingresa con tus credenciales de acceso
                                    </p>
                                    <form [formGroup]="loginForm" class="w-75">
                                        <div class="form-group">
                                            <p class="title_access_login colo-subl tx-16">
                                                Correo electrónico
                                            </p>
                                            <input class="form-control" type="text"
                                                formControlName="email" tabindex="1" />
                                        </div>
                                        <div class="form-group mt-4 mb-6">
                                            <p class="title_access_login colo-subl tx-16">
                                                Pin de acceso
                                            </p>
                                            <div class="flex-container-pin">
                                                <div class="flex-item-pin">
                                                    <input class="form-control" type="password"
                                                        formControlName="password1"
                                                        (keydown)="onKeydown($event,0)"
                                                        maxlength="1" tabindex="2"
                                                        autocomplete="off" #pinInput />
                                                </div>
                                                <div class="flex-item-pin">
                                                    <input class="form-control" type="password"
                                                        formControlName="password2"
                                                        (keydown)="onKeydown($event,1)"
                                                        maxlength="1" tabindex="3"
                                                        autocomplete="off" #pinInput />
                                                </div>
                                                <div class="flex-item-pin">
                                                    <input class="form-control" type="password"
                                                        formControlName="password3"
                                                        (keydown)="onKeydown($event,2)"
                                                        maxlength="1" tabindex="4"
                                                        autocomplete="off" #pinInput />
                                                </div>
                                                <div class="flex-item-pin">
                                                    <input class="form-control" type="password"
                                                        formControlName="password4"
                                                        (keydown)="onKeydown($event,3)"
                                                        maxlength="1" tabindex="5"
                                                        autocomplete="off" #pinInput />
                                                </div>
                                            </div>
                                        </div>
                                        <button
                                            class="btn btn-oscuros-dyner btn-block sub_title_botton_access_login"
                                            [disabled]="!loginForm.valid" (click)="login_front()">
                                            Ingresar
                                        </button>
                                    </form>

                                    <div class="mt-2" *ngIf="validate_user">
                                        <li style="color: red">
                                            <label style="color: red">
                                                Usuario o pin invalidos
                                            </label>
                                        </li>
                                    </div>

                                    <div class="main-signin-footer mt-4">
                                        <p>
                                            <a routerLink="/custompages/forgot-password"
                                                class="colo-subl sub_title_access_login tx-12">Recuperar
                                                contraseña</a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="login d-flex align-items-center py-2">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="card-sigin" align="center">
                                    <div class="">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer style="margin-top: 50px;">
                      <div align="center">
                          <div class="flex-container-footer">
                              <div class="flex-item-footer">
                                  <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/pci_logo_dashboard.svg"
                                  alt="brand" class="" style="max-width: 60px !important">
                              </div>
                              <div class="flex-item-footer" style="margin-left: 10px;text-align: left">
                                   <p class="title_access_login colo-subl tx-12">¿No tienes una
                                      cuenta? <a routerLink="/registro" routerLinkActive="router-link-active"
                                          class="title_access_login colo-subl tx-12" style="color:#3A82F7">Registrate</a>
                                  </p>
                                  <p class="colo-subl sub_title_access_login tx-10">
                                      Descarga la app en las tiendas disponibles y accede a
                                  </p>
                                  <p class="colo-subl sub_title_access_login tx-10">
                                      numerosas herramientas
                                  </p>
                              </div>
                          </div>
                      </div>
                  </footer>

                </div>





            </div>
        </div>
    </div>
    <!-- End Page -->
</div>
