<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-color-withe bg-image">
            <div class="background-overlay"></div>
        </div>
        <!-- The content half -->
        <div class="col-md-6 col-lg-6 col-xl-5 bg-black bg-second-contend">


            <div class="login d-flex align-items-center py-2">
                <!-- Demo content-->
                <div class="container p-0">
                    <div class="row">
                        <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                            <div class="wd-100p" align="center">
                                <div class="main-signin-header">

                                    <div class="card card_login">
                                        <div class="card-body">
                                            <div class="card-sigin" align="center">
                                                <div class="main-signup-header">

                                                    <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/img_dashboard/dyner_pro_normal_circle.svg"
                                                        class="sign-favicon ht-50 mb-2" alt="logo" />
                                                    <!-- <p class="title_access_login tx-16 mb-4">
                                                        Restablecer PIN de acceso
                                                    </p> -->
                                                    <p class="title_access_login_child_1 tx-16">
                                                        Hemos enviado el link de restablecimiento a tu correo
                                                    </p>
                                                    <!-- <p class="title_access_login_child_2 tx-16 mb-4">
                                                        Enviaremos un link de validación
                                                    </p> -->

                                                </div>
                                            </div>

                                            <div class="card w-75 bg-white border-0 border-r-failed-threeds-child mb-3"
                                                style="padding: 10px; box-shadow: none;">
                                                <div class="card-body ">
                                                    <div class="flex-container-fail" style="display: flex !important;">
                                                        <div class="flex-item-fail"
                                                            style="flex: 0.2 0 auto;width: 50px;display: flex; justify-content: center; align-items: center; ">
                                                            <div style="display: flex;flex-direction: column;">
                                                                <div>
                                                                    <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/img_dashboard/dyner_pro_normal_circle.svg"
                                                                        alt="brand" class="" width="90px"
                                                                        style="max-width: 80px !important; ">
                                                                </div>
                                                                <div>
                                                                    <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/img_gateway/gatewaypromaster.svg"
                                                                        alt="brand" class="" width="40px">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="flex-item-fail"
                                                            style="text-align: left;padding-left: 15px;margin-left: 15px;">
                                                            <p class="title_access_login_5 colo-subl tx-10">
                                                                Recuerda cambiar frecuentemente tu PIN de acceso, esto
                                                                evitará que terceros puedan acceder a tu cuenta.
                                                            </p>
                                                            <p class="title_access_login_4 colo-subl tx-10">
                                                                Si deseas mayor información sobre el manejo de tu
                                                                información, accede a
                                                                www.gatewaypro.co/politicadeprivacidad.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="main-signup-footer mg-t-20"><a href="javascript:;"
                                                    routerLink="/custompages/sign-in"
                                                    style="color:#3A82F7; font-weight: normal"> Regresar</a>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="title_access_login_3 colo-subl tx-12 mt-5">¿No tienes una cuenta? <a
                                            routerLink="/registro" routerLinkActive="router-link-active"
                                            class="title_access_login_3 colo-subl tx-12"
                                            style="color:#3A82F7">Registrate</a>
                                    </p>

                                    <p class="colo-subl sub_title_access_login tx-10 mb-4_5" style="color: black;">
                                        Descarga la app en las tiendas disponibles y accede a numerosas herramientas
                                    </p>
                                    <div>
                                        <img src="https://imagesd24-pro.s3.us-east-1.amazonaws.com/iconos_login/pci_logo_dashboard.svg"
                                            class="sign-favicon ht-30" alt="logo" />
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div><!-- End -->
    </div>
</div>
