.colo-subl {
    color: #E1E1E1;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
    color: #232323;
}

.p-font-weight {
    font-weight: 700;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item {
    margin: auto;
}

.icon-foot-body {
    width: 150px;
    height: 150px;
}

.bg-image {
  background-image: url('https://imagesd24.s3.us-east-2.amazonaws.com/img_dashboard/restor_pass.png');
  background-size: cover;
  background-position: center;
  position: relative;
  /* Asegura que el contenedor sea relativo para que el posicionamiento absoluto funcione correctamente */
}

.bg-second-contend {
  background-color: #F4F4F4 !important;
}


.title_access_login {
  font-family: Arial, sans-serif;
  /* Fallback en caso de que Arial Bold no esté disponible */
  font-weight: bold;
  color: black;
  font-size: 20px;
}


.title_access_login_child_1 {
  font-family: Arial, sans-serif;
  /* Fallback en caso de que Arial Bold no esté disponible */
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.title_access_login_child_2{
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 14px;
}

.title_access_login_3 {
  font-family: Arial, sans-serif;
  /* Fallback en caso de que Arial Bold no esté disponible */
  font-weight: bold;
  color: black;
  font-size: 12px;
}

.title_access_login_4 {
  font-family: Arial, sans-serif;
  /* Fallback en caso de que Arial Bold no esté disponible */
  font-weight: normal;
  color: black;
  font-size: 8px;
}

.title_access_login_5{
  font-family: Arial, sans-serif;
  /* Fallback en caso de que Arial Bold no esté disponible */
  font-weight: bold;
  color: black;
  font-size: 10px;
}

.container, .container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
