<div class="breadcrumb-header justify-content-between">
	<div class="my-auto">
		<div class="d-flex">
			<h4 class="content-title mb-0 my-auto">Forms</h4><span class="text-muted mt-1 tx-13 ms-2 mb-0">/
				Form-Validation</span>
		</div>
	</div>
	<div class="d-flex my-xl-auto right-content mr-2">
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-info btn-icon me-2"><i class="mdi mdi-filter-variant"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-danger btn-icon me-2"><i class="mdi mdi-star"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-warning  btn-icon me-2"><i class="mdi mdi-refresh"></i></button>
		</div>
		<div class="mb-3 mb-xl-0">
			<div ngbDropdown class="btn-group">
				<button type="button" class="btn btn-primary">14 Aug 2019</button>
				<button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split"
					id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate"
					data-x-placement="bottom-end">
					<a ngbDropdownItem href="javascript:;">2015</a>
					<a ngbDropdownItem href="javascript:;">2016</a>
					<a ngbDropdownItem href="javascript:;">2017</a>
					<a ngbDropdownItem href="javascript:;">2018</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- breadcrumb -->


<!--Row-->
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Custom Validation</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="customForm" (ngSubmit)="Submit()" class="needs-validation" novalidate>
                    <div class="form-row">
						<div class="col-md-4">
							<label for="validationCustom01" class="form-label">First name</label>
							<input type="text" class="form-control" formControlName="firstname" id="validationCustom01" value="Mark" required>
							<div class="valid-feedback">
							  Looks good!
							</div>
						  </div>
						<div class="col-md-4">
							<label for="validationCustom02" class="form-label">Last name</label>
							<input type="text" class="form-control" formControlName="lastname" id="validationCustom02" value="Otto" required>
							<div class="valid-feedback">
							  Looks good!
							</div>
						  </div>
						  <div class="col-md-4">
							<label for="validationCustomUsername" class="form-label">Username</label>
							<div class="input-group has-validation">
							  <span class="input-group-text" id="inputGroupPrepend">@</span>
							  <input type="text" class="form-control" formControlName="lastname" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
							  <div class="invalid-feedback">
								Please choose a username.
							  </div>
							</div>
						</div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">City</label>
                            <input type="text" class="form-control" 
                            formControlName="city" id="validationCustom03" required>
                            <div class="invalid-feedback">Please provide a valid city.</div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">State</label>
							<ng-select placeholder="U.S.A" name="beast" id="select-beast"
								class="form-control  nice-select" [items]="places">
							</ng-select>
                            <div class="invalid-feedback">Please select a valid state.</div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom05">Zip</label>
                            <input type="text" class="form-control" formControlName="zip" id="validationCustom05" required>
                            <div class="invalid-feedback">Please provide a valid zip.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" (click)="out()">Submit form</button>
                </form>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Default Validation</h3>
			</div>
			<div class="card-body">
				<form class="row g-3">
					<div class="col-md-4">
					  <label for="validationDefault01" class="form-label">First name</label>
					  <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
					</div>
					<div class="col-md-4">
					  <label for="validationDefault02" class="form-label">Last name</label>
					  <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
					</div>
					<div class="col-md-4">
					  <label for="validationDefaultUsername" class="form-label">Username</label>
					  <div class="input-group">
						<span class="input-group-text" id="inputGroupPrepend2">@</span>
						<input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
					  </div>
					</div>
					<div class="col-md-6">
					  <label for="validationDefault03" class="form-label">City</label>
					  <input type="text" class="form-control" id="validationDefault03" required>
					</div>
					<div class="col-md-3">
					  <label for="validationDefault04" class="form-label">State</label>
					  <ng-select placeholder="U.S.A" name="beast" id="select-beast"
								class="form-control  nice-select">
								<ng-option value="0">New york</ng-option>
								<ng-option value="1">New york</ng-option>
								<ng-option value="2">New york</ng-option>
								<ng-option value="3">New york</ng-option>
								<ng-option value="4">New york</ng-option>
								<ng-option value="5">Accessories</ng-option>
						</ng-select>
					</div>
					<div class="col-md-3">
					  <label for="validationDefault05" class="form-label">Zip</label>
					  <input type="text" class="form-control" id="validationDefault05" required>
					</div>
					<div class="col-12">
					  <div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
						<label class="form-check-label" for="invalidCheck2">
						  Agree to terms and conditions
						</label>
					  </div>
					</div>
					<div class="col-12">
					  <button class="btn btn-primary" type="submit">Submit form</button>
					</div>
				  </form>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Server Side Validation</h3>
			</div>
			<div class="card-body">
				<form class="row g-3">
					<div class="col-md-4">
					  <label for="validationServer01" class="form-label">First name</label>
					  <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					</div>
					<div class="col-md-4">
					  <label for="validationServer02" class="form-label">Last name</label>
					  <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
					  <div class="valid-feedback">
						Looks good!
					  </div>
					</div>
					<div class="col-md-4">
					  <label for="validationServerUsername" class="form-label">Username</label>
					  <div class="input-group has-validation">
						<span class="input-group-text" id="inputGroupPrepend3">@</span>
						<input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
						<div id="validationServerUsernameFeedback" class="invalid-feedback">
						  Please choose a username.
						</div>
					  </div>
					</div>
					<div class="col-md-6">
					  <label for="validationServer03" class="form-label">City</label>
					  <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
					  <div id="validationServer03Feedback" class="invalid-feedback">
						Please provide a valid city.
					  </div>
					</div>
					<div class="col-md-3">
					  <label for="validationServer04" class="form-label">State</label>
					  <ng-select placeholder="U.S.A" name="beast" id="select-beast"
								class="form-control  nice-select  ">
								<ng-option value="0">New york</ng-option>
								<ng-option value="1">New york</ng-option>
								<ng-option value="2">New york</ng-option>
								<ng-option value="3">New york</ng-option>
								<ng-option value="4">New york</ng-option>
								<ng-option value="5">Accessories</ng-option>
							</ng-select>
					  <div id="validationServer04Feedback" class="invalid-feedback">
						Please select a valid state.
					  </div>
					</div>
					<div class="col-md-3">
					  <label for="validationServer05" class="form-label">Zip</label>
					  <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
					  <div id="validationServer05Feedback" class="invalid-feedback">
						Please provide a valid zip.
					  </div>
					</div>
					<div class="col-12">
					  <div class="form-check">
						<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
						<label class="form-check-label" for="invalidCheck3">
						  Agree to terms and conditions
						</label>
						<div id="invalidCheck3Feedback" class="invalid-feedback">
						  You must agree before submitting.
						</div>
					  </div>
					</div>
					<div class="col-12">
					  <button class="btn btn-primary" type="submit">Submit form</button>
					</div>
				  </form>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Supported Elements</h3>
			</div>
			<div class="card-body">
				<form class="was-validated">
					<div class="mb-3">
					  <label for="validationTextarea" class="form-label">Textarea</label>
					  <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
					  <div class="invalid-feedback">
						Please enter a message in the textarea.
					  </div>
					</div>

					<div class="form-check mb-3">
					  <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
					  <label class="form-check-label" for="validationFormCheck1">Check this checkbox</label>
					  <div class="invalid-feedback">Example invalid feedback text</div>
					</div>

					<div class="form-check">
					  <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required>
					  <label class="form-check-label" for="validationFormCheck2">Toggle this radio</label>
					</div>
					<div class="form-check mb-3">
					  <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required>
					  <label class="form-check-label" for="validationFormCheck3">Or toggle this other radio</label>
					  <div class="invalid-feedback">More example invalid feedback text</div>
					</div>

					<div class="mb-3">
					  <select class="form-select" required aria-label="select example">
						<option value="">Open this select menu</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					  </select>
					  <div class="invalid-feedback">Example invalid select feedback</div>
					</div>

					<div class="input-group file-browser mb-5">
						<input type="text" class="form-control border-end-0 browse-file" placeholder="choose" readonly>
						<label class="input-group-text btn btn-primary">
								Browse <input type="file" class="file-browserinput" style="display: none;" multiple>
						</label>
					</div>

					<div class="mb-3">
					  <button class="btn btn-primary" type="submit" disabled>Submit form</button>
					</div>
				  </form>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Tooltips</h3>
			</div>
			<div class="card-body">
				<form class="row g-3 needs-validation" novalidate>
					<div class="col-md-4 position-relative">
					  <label for="validationTooltip01" class="form-label">First name</label>
					  <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
					  <div class="valid-tooltip">
						Looks good!
					  </div>
					</div>
					<div class="col-md-4 position-relative">
					  <label for="validationTooltip02" class="form-label">Last name</label>
					  <input type="text" class="form-control" id="validationTooltip02" value="Otto" required>
					  <div class="valid-tooltip">
						Looks good!
					  </div>
					</div>
					<div class="col-md-4 position-relative">
					  <label for="validationTooltipUsername" class="form-label">Username</label>
					  <div class="input-group has-validation">
						<span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
						<input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
						<div class="invalid-tooltip">
						  Please choose a unique and valid username.
						</div>
					  </div>
					</div>
					<div class="col-md-6 position-relative">
					  <label for="validationTooltip03" class="form-label">City</label>
					  <input type="text" class="form-control" id="validationTooltip03" required>
					  <div class="invalid-tooltip">
						Please provide a valid city.
					  </div>
					</div>
					<div class="col-md-3 position-relative">
					  <label for="validationTooltip04" class="form-label">State</label>
					  <ng-select placeholder="U.S.A" name="beast" id="select-beast"
								class="form-control  nice-select  ">
								<ng-option value="0">New york</ng-option>
								<ng-option value="1">New york</ng-option>
								<ng-option value="2">New york</ng-option>
								<ng-option value="3">New york</ng-option>
								<ng-option value="4">New york</ng-option>
								<ng-option value="5">Accessories</ng-option>
							</ng-select>
					  <div class="invalid-tooltip">
						Please select a valid state.
					  </div>
					</div>
					<div class="col-md-3 position-relative">
					  <label for="validationTooltip05" class="form-label">Zip</label>
					  <input type="text" class="form-control" id="validationTooltip05" required>
					  <div class="invalid-tooltip">
						Please provide a valid zip.
					  </div>
					</div>
					<div class="col-12">
					  <button class="btn btn-primary" type="submit">Submit form</button>
					</div>
				  </form>
			</div>
		</div>
	</div>
</div>
<!--/Row-->