<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
	<div class="my-auto">
		<div class="d-flex">
			<h4 class="content-title mb-0 my-auto">Apps</h4><span class="text-muted mt-1 tx-13 ms-2 mb-0">/
				Rangeslider</span>
		</div>
	</div>
	<div class="d-flex my-xl-auto right-content mr-2">
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-info btn-icon me-2"><i class="mdi mdi-filter-variant"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-danger btn-icon me-2"><i class="mdi mdi-star"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-warning  btn-icon me-2"><i class="mdi mdi-refresh"></i></button>
		</div>
		<div class="mb-3 mb-xl-0">
			<div ngbDropdown class="btn-group">
				<button type="button" class="btn btn-primary">14 Aug 2019</button>
				<button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
					<a ngbDropdownItem href="javascript:;">2015</a>
					<a ngbDropdownItem href="javascript:;">2016</a>
					<a ngbDropdownItem href="javascript:;">2017</a>
					<a ngbDropdownItem href="javascript:;">2018</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumb -->

<!-- Row -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

		<div class="card mg-b-20">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Range Slider (Modern Skin)
                </div>
				<p>It is the modern skin range slider of Redash.</p>
                <div class="row row-sm">
					<div class="col-lg-12">
						<div *ngFor="let slider of modernsliders2">
							<ngx-slider class="slider2" [(value)]="slider.value"  [options]="modernSliderOptions(slider)"></ngx-slider>
						  </div>
					</div>
					
				</div>
				<div class="row row-sm">
                    <div class="col-lg-12 mg-t-20">
						<ngx-slider class="slider2" [(value)]="minValue2" [(highValue)]="maxValue2" [options]="options2"></ngx-slider>
					</div>
					<div class="col-lg-12 mg-t-20">
						<ngx-slider class="slider2" [(value)]="negativeValue2" [(highValue)]="negativeHighValue2" [options]="negativeOptions2"></ngx-slider>
					</div>
				</div>
            </div>
        </div>

		<div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Range Slider (Outline Skin)
                </div>
				<p>It is the outline skin range slider of Redash.</p>
                <p class="mg-b-20"></p>
                <div class="row row-sm">
					<div class="col-lg-12">
						<div *ngFor="let slider of modernsliders3">
							<ngx-slider class="slider3"  [(value)]="slider.value"  [options]="modernSliderOptions(slider)"></ngx-slider>
						  </div>
					</div>
					
				</div>
				<div class="row row-sm">
                    <div class="col-lg-12 mg-t-20">
						<ngx-slider class="slider3" [(value)]="minValue3" [(highValue)]="maxValue3" [options]="options3"></ngx-slider>
					</div>
					<div class="col-lg-12 mg-t-20">
						<ngx-slider class="slider3" [(value)]="negativeValue3" [(highValue)]="negativeHighValue3" [options]="negativeOptions3"></ngx-slider>
					</div>
				</div>
            </div>
        </div>

		<div class="card mg-b-20">
			<div class="card-body">
				<div class="main-content-label mg-b-5">
					Range Slider
				</div>
				<p>Default range slider Of Valex.</p>
				<div class="row row-sm">
					<div class="col-lg-12">
						<div *ngFor="let slider of modernsliders1">
							<ngx-slider class="slider1" [(value)]="slider.value" [options]="modernSliderOptions(slider)"></ngx-slider>
						  </div>
					</div>
					
				</div>
				<div class="row row-sm">
                    <div class="col-lg-12 mg-t-20">
						<ngx-slider class="slider1" [(value)]="minValue1" [(highValue)]="maxValue1" [options]="options1"></ngx-slider>
					</div>
					<div class="col-lg-12 mg-t-20">
						<ngx-slider class="slider1" [(value)]="negativeValue1" [(highValue)]="negativeHighValue1" [options]="negativeOptions1"></ngx-slider>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>